@import '../variables';

/**
 * Snack bar
 *
 * Custom style for mat-snack-bar
 *
 *============================================================================*/

/* Regular state style
 *============================================================================*/

.mat-snack-bar-container {
  background: var(--primary);
  color: $fg-l-primary;

  .mat-simple-snackbar-action {
    color: $fg-l-primary;
  }
}

/* Error state style
 *============================================================================*/

.mat-snack-bar-container.snack-bar-error {
  background: var(--warn);
  color: $fg-l-primary;

  .mat-simple-snackbar-action {
    color: $fg-l-primary;
  }
}
