/**
 * Resets
 *
 * Style resets in order to synchronize different browser default styles.
 *
 *============================================================================*/

/* Basic page behaviour resets
 *============================================================================*/
/**
 * 1. Best practice box-sizing. Source:
 *    css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * 2. Force long words to break into new lines if they don't fit a container.
 */

*,
*:before,
*:after {
  box-sizing: inherit; /* [1] */
}

html {
  box-sizing: border-box; /* [1] */
  word-wrap: break-word; /* [2] */
  overflow-wrap: break-word; /* [2] */
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Margin resets
 *============================================================================*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
hr,
fieldset,
legend,
blockquote {
  margin: 0;
}

// Remove trailing margins from nested lists
li > ol,
ul {
  margin-bottom: 0;
}

/* Table
 *============================================================================*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Semantic markup
 *============================================================================*/

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

/* Unset hyperlink style
 *============================================================================*/

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* Images
 *============================================================================*/
/**
 * 1. Images will retain their aspect ratio on screen resizing. They
      will never scale up to be larger than their original size.
 * 2. Remove whitespace under images.
 */

img {
  max-width: 100%; /* [1] */
  height: auto; /* [1] */
  vertical-align: middle; /* [2] */
}

/* mat-button vertical align correction
 *============================================================================*/

.mat-button,
.mat-flat-button,
.mat-icon-button {
  vertical-align: middle !important;
}

/* Lets mat-card-image be full width of its container
 *============================================================================*/

.mat-card-image {
  max-width: unset;
}

/* Increases default min-height of mat-dialog-actions
 *============================================================================*/

.mat-dialog-actions.mat-dialog-actions {
  min-height: 64px;
}

/* Allows mat-checkbox text to wrap
 *============================================================================*/

.mat-checkbox-layout.mat-checkbox-layout {
  white-space: normal;
}

/* Default font size for mat-form-field
 *============================================================================*/

.mat-form-field {
  font-size: 14px;
}

/* Fixes opacity for mat-tabs when used with <nav>
 *============================================================================*/

.mat-tab-link.active {
  opacity: 1;
}
