<form *ngIf="form" [formGroup]="form">

  <section>
    <mat-toolbar color="primary">
      <a mat-icon-button routerLink="/discounts" aria-label="Back" matTooltip="Back">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span>Discounts</span>
    </mat-toolbar>
  </section>

  <div class="grid">
    <div class="col-8 col-s-10 col-xs-12" [ngSwitch]="currentState">
      <ng-container *ngSwitchCase="viewState.Edit">
        <div class="flex ai-center jc-between">
          <h5>{{form.get('name').value}}</h5>
          <div>
            <button mat-icon-button aria-label="Previous discount" matTooltip="Previous discount" (click)="move(false, form)">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button aria-label="Next discount" matTooltip="Next discount" (click)="move(true, form)">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
        <button mat-button (click)="duplicate(form)">
          <mat-icon>filter_none</mat-icon>
          <span>&nbsp;Duplicate</span>
        </button>
      </ng-container>
      <h5 *ngSwitchCase="viewState.New">New Discount</h5>

      <h5 *ngSwitchCase="viewState.Copy">Copy of {{form.get('name').value}}</h5>

    </div>
  </div>

  <div class="grid grid-no-gutter p-b-m">
    <div class="col-8 col-s-10 col-xs-12">
      <div>
        <div class="grid">
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Discount info</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-s flex jc-between">
                <span>Active</span>
                <mat-slide-toggle formControlName="active"></mat-slide-toggle>
              </div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>URL</mat-label>
                <input matInput formControlName="id">
              </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Code</mat-label>
                  <input matInput formControlName="code">
                  <mat-icon class="cs-pointer" matSuffix (click)="generate()">refresh</mat-icon>
                </mat-form-field>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput  formControlName="description"></textarea>
              </mat-form-field>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Discounts value</mat-label>
                <mat-select formControlName="valueType">
                  <mat-option *ngFor="let option of discountValueType | keyvalue" [value]="option.value">
                    {{option.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ng-container class="w-full" appearance="outline">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>{{form.get('valueType').value === discountValueType.Percentage ? 'Percentage value' : 'Fixed value'}}</mat-label>
                  <input matInput type="number" formControlName="value">
                </mat-form-field>
              </ng-container>

              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let option of limitType | keyvalue" [value]="option.value">
                    {{option.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <ng-container *ngIf="form.get('type').value === limitType.Limited" class="w-full" appearance="outline">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Number of discounts</mat-label>
                  <input matInput type="number" formControlName="limitedNumber">
                </mat-form-field>
              </ng-container>


              <mat-form-field class="col-6 p-r-xs" appearance="outline">
                <input matInput [matDatepicker]="startDate" placeholder="Starting date" formControlName="startingDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="col-6" appearance="outline">
                <input matInput [matDatepicker]="endDate" placeholder="Ending date" formControlName="endingDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jfsc-actions-header">
    <button
      type="button"
      tabindex="-1"
      mat-flat-button
      color="primary"
      (click)="back()">
      {{currentState === viewState.Edit ? 'Discard changes' : 'Cancel'}}
    </button> &nbsp;

    <button
      mat-flat-button
      type="submit"
      fDisable
      [disabled]="form.invalid"
      [jpLoadClick]="save()">
      {{currentState === viewState.Edit ? 'Save changes' : 'Save'}}
    </button>
  </div>

</form>

