<ng-container *ngIf="data$ | async as data">

  <!--Product name-->
  <section class="bg-primary c-l-primary jfs-product-header">
    <div class="grid">
      <div class="col-6 col-xs-12">
        <h3 class="fw-reg c-l-primary m-b-xs">{{data.product.name}}</h3>
        <p>{{data.product.shortDescription}}</p>
      </div>

      <ng-container *ngIf="(rews$ | async) as rec">

        <ng-template #reviewsDialog>
          <h6 mat-dialog-title="">Reviews</h6>
          <ng-container *ngIf="rec.length; else empty">
            <div *ngFor="let review of rec">
              <jfs-review-card [review]="review"></jfs-review-card>
            </div>
          </ng-container>
        </ng-template>

        <div class="col-6 col-xs-12 ws-nowrap ta-right">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <p><a class="link" id="a-opRew" (click)="openReviews()">Number of reviews: {{rec.length}}</a></p>
        </div>
      </ng-container>

    </div>
  </section>

  <!--Product details-->
  <section class="grid">
    <div class="col-12">
      <mat-card class="p-a-0">
        <div class="grid">
          <div class="col-6 col-s-12">
            <h5 class="p-t-s p-b-xs">Description</h5>
            <div [innerHtml]="data.product.description"></div>
            <h2 class="m-t-m m-b-xs">{{data.product.price | sp}}</h2>
            <ng-container *ngIf="data.quantity; else notInCart">
              <button
                id="btn-add-more-0"
                mat-flat-button
                color="accent"
                (click)="cart.add(data.product)">
                <span class="iblock p-x-s">Add more to cart (currently {{data.quantity}})</span>
              </button>
            </ng-container>
            <ng-template #notInCart>
              <button
                id="btn-add-cart-1"
                mat-flat-button
                color="accent"
                (click)="cart.add(data.product)">
                <span class="iblock p-x-m">Add to cart</span>
              </button>
            </ng-template>
            <div class="m-y-m flex fd-col ai-start">
              <p class="m-b-xs"><b>Share this product:</b></p>
              <button id="btn-shF" (click)="facebookShare()" mat-button>Share on Facebook</button>
              <button mat-button  id="btn-shT" (click)="twitterShare()">Share on Twitter</button>
              <a mat-button id="a-shE" href="mailto:mail@address.com?subject={{data.product.name}}">Share via email</a>
            </div>
          </div>
          <div class="col-6 col-s-12">
            <div class="jfs-gallery">
              <img
                *ngFor="let img of data.product.gallery; index as i"
                class="jfs-gallery-image"
                src="assets/images/loading.svg"
                [jpPreload]="img"
                (click)="changePicture(i)"
                [class.active]="imgIndex === i"
              />
            </div>
            <img
              class="w-full"
              src="assets/images/loading.svg"
              [jpPreload]="data.product.gallery[imgIndex]"/>
          </div>
        </div>
        <button
          id="btn-wish-list-1"
          class="jfs-wishlist-button"
          mat-mini-fab
          color="accent"
          [matTooltip]="data.wishList.tooltip"
          [attr.aria-label]="data.wishList.tooltip"
          (click)="wishList.toggle(data.product.id)">
          <mat-icon>{{data.wishList.icon}}</mat-icon>
        </button>
      </mat-card>

    </div>
  </section>

  <!--Similar products-->
  <section class="grid p-t-m">
    <div class="col-12">
      <h5>Similar products</h5>
      <div *ngIf="similar$ | async as similarProducts">
        <ng-container *ngFor="let next of similarProducts">
          <jfs-product-card [product]="next"></jfs-product-card>
        </ng-container>
      </div>
    </div>
  </section>

</ng-container>
