<ng-container *ngIf="data$ | async as data">

  <!--Product name-->
  <section class="bg-primary c-l-primary jfs-product-header">
    <div class="grid jc-start">
      <div class="col-6 col-xs-12">
        <h3 class="fw-reg c-l-primary m-b-xs">{{data.product.name}}</h3>
        <p>{{data.product.shortDescription}}</p>
      </div>

      <ng-container *ngIf="rews$ | async as rec;">

        <ng-template #reviewsDialog>
          <h6 mat-dialog-title="">Reviews</h6>
          <div class="m-b-s" *ngFor="let review of rec[0]">
            <jfs-review-card [review]="review"></jfs-review-card>
          </div>
        </ng-template>

        <div *ngIf="rec[0].length" class="col-6 col-xs-12 ws-nowrap ta-right">
          <p>
            <a class="link" (click)="openReviews()">{{rec[0].length}} reviews</a>
          </p>
          <jfs-rating-scale [value]="rec[1]" color="default"></jfs-rating-scale>
        </div>
      </ng-container>
    </div>
  </section>

  <!--Product details-->
  <section class="grid">
    <div class="col-12">
      <mat-card class="p-a-0">
        <div class="grid">
          <div class="col-6 col-s-12">
            <h5 class="p-t-s p-b-xs">Description</h5>
            <div [innerHtml]="data.product.description"></div>
            <h2 class="m-t-m m-b-xs">{{data.product.price | sp}}</h2>
            <p class="m-t-s" *ngIf="data.product.showingQuantity">{{data.product.quantity}} in stock</p>
            <p class="m-t-s" *ngIf="data.quantity === data.product.quantity">There are no more items in stock</p>
            <ng-container *ngIf="data.quantity; else notInCart">
              <button
                id="btn-add-more-prod-0"
                mat-flat-button
                color="accent"
                [disabled]="data.quantity >= data.product.quantity"
                (click)="cart.add(data.product)">
                <span class="iblock p-x-s">Add more to cart (currently {{data.quantity}})</span>
              </button>
            </ng-container>
            <ng-template #notInCart>
              <button
                id="btn-add-cart-prod-1"
                mat-flat-button
                color="accent"
                [disabled]="data.quantity >= data.product.quantity"
                (click)="cart.add(data.product)">
                <span class="iblock p-x-m">Add to cart</span>
              </button>
            </ng-template>
            <div class="m-y-m flex fd-col ai-start">
              <p class="m-b-xs"><b>Share this product:</b></p>
              <button mat-button (click)="facebookShare(data)">Share on Facebook</button>
              <button mat-button (click)="twitterShare(data)">Share on Twitter</button>
              <button mat-button (click)="emailShare(data)">Share via email</button>
            </div>
          </div>
          <div class="col-6 col-s-12">
            <div class="jfs-gallery">
              <img
                *ngFor="let img of data.product.gallery; index as i"
                class="jfs-gallery-image"
                src="assets/images/loading.svg"
                [jpPreload]="img"
                (click)="changePicture(i)"
                [class.active]="imgIndex === i"
              />
            </div>
            <img
              class="w-full"
              src="assets/images/loading.svg"
              [jpPreload]="data.product.gallery[imgIndex]"/>
          </div>
        </div>
        <button
          id="btn-wish-list-1"
          class="jfs-wishlist-button"
          mat-mini-fab
          color="accent"
          [matTooltip]="data.wishList.tooltip"
          [attr.aria-label]="data.wishList.tooltip"
          (click)="wishList.toggle(data.product)">
          <mat-icon>{{data.wishList.icon}}</mat-icon>
        </button>
      </mat-card>

    </div>
  </section>

  <!--Similar products-->
  <ng-container *ngIf="similar$ | async as similarProducts">
    <section class="grid p-t-m" *ngIf="similarProducts.length">
      <div class="col-12">
        <h5>Similar products</h5>
        <div>
          <ng-container *ngFor="let next of similarProducts">
            <jfs-product-card [product]="next"></jfs-product-card>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>

</ng-container>
