.jfs-product-header {
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: -80px;
}

.jfs-gallery {
  display: flex;
  height: 160px;
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.jfs-gallery-image {
  width: auto;
  height: 100%;
  margin-right: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  &.active {
    border: 2px solid var(--accent);
  }
}

.jfs-wishlist-button {
  position: absolute;
  top: -10px;
  right: -10px;
}
