<form *ngIf="data$ | async as data" [ngSwitch]="currentState">
  <mat-toolbar role="heading" color="primary" class="sticky-header">
    <span *ngSwitchCase="viewState.Edit">{{'INSTANCE_SINGLE.EDITING' | transloco}} {{formBuilderComponent?.form.get(data.module.editTitleKey).value}}</span>
    <span *ngSwitchCase="viewState.New">{{'GENERAL.NEW' | transloco}} {{data.module.name}}</span>
    <span *ngSwitchCase="viewState.Copy">{{'INSTANCE_SINGLE.COPY_OF' | transloco}} {{formBuilderComponent?.form.get('id').value}}</span>
    <div class="flex-1"></div>
    <ng-container *ngIf="!data.directLink">
      <span class="hide-xs">
        <a mat-button (click)="back(data)">{{'GENERAL.CANCEL' | transloco}}</a>&nbsp;
      </span>
      <span class="show-xs">
        <a mat-icon-button (click)="back(data)" [matTooltip]="'GENERAL.CANCEL' | transloco">
          <mat-icon>cancel</mat-icon>
        </a>&nbsp;
      </span>
    </ng-container>
    <span class="hide-xs">
      <button
        type="submit"
        mat-flat-button
        [disabled]="formBuilderComponent?.form.invalid"
        [fDisable]="data.authorization"
        [jpLoadClick]="save(data)">
      {{'GENERAL.SAVE' | transloco}}
    </button>
    </span>
    <span class="show-xs">
      <button
        type="submit"
        mat-icon-button
        [disabled]="formBuilderComponent?.form.invalid"
        [fDisable]="data.authorization"
        [jpLoadClick]="save(data)"
        [matTooltip]="'GENERAL.SAVE' | transloco">
      <mat-icon>save</mat-icon>
    </button>
    </span>
    <!--TODO: Connect #63-->
    <!--<mat-progress-bar class="jms-instance-single-loading" color="accent" mode="determinate" value="40"></mat-progress-bar>-->
  </mat-toolbar>

  <ng-container *ngSwitchCase="viewState.Edit">
    <section class="grid" *ngIf="!data.directLink && (!data.hideDuplicate || !data.hideNavigation)">
      <div class="col-12">
        <mat-card>
          <div class="flex ai-center">
            <ng-container *ngIf="!data.hideDuplicate">
              <button mat-button (click)="duplicate(data)">
                <mat-icon>filter_none</mat-icon>
                <span>&nbsp;{{'GENERAL.DUPLICATE' | transloco}}</span>
              </button>
              <div class="flex-1"></div>
            </ng-container>
            <ng-container *ngIf="!data.hideNavigation">
              <button mat-icon-button [attr.aria-label]="'GENERAL.PREVIOUS' | transloco" [matTooltip]="'GENERAL.PREVIOUS' | transloco" (click)="move(false, formBuilderComponent?.form)">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <button mat-icon-button [attr.aria-label]="'GENERAL.NEXT' | transloco" [matTooltip]="'GENERAL.NEXT' | transloco" (click)="move(true, formBuilderComponent?.form)">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </ng-container>
          </div>
        </mat-card>
      </div>
    </section>
  </ng-container>

  <fb-form-builder [data]="data.formBuilder" [state]="formState"></fb-form-builder>
</form>
