<form *ngIf="data$ | async as data" [formGroup]="data.form" [ngSwitch]="currentState">
  <mat-toolbar role="heading" color="primary" class="sticky-header">
    <span class="of-x-auto of-y-hidden" *ngSwitchCase="viewState.Edit">Editing {{data.form.get(data.module.editTitleKey).value}}</span>
    <span class="of-x-auto of-y-hidden" *ngSwitchCase="viewState.New">New {{data.module.name}}</span>
    <span class="of-x-auto of-y-hidden" *ngSwitchCase="viewState.Copy">Copy of {{data.form.get('id').value}}</span>
    <div class="flex-1"></div>
    <a mat-button *ngIf="!data.directLink" (click)="back(data)">Cancel</a>&nbsp;
    <button
      mat-flat-button
      [disabled]="data.form.invalid"
      fDisable
      [jpLoadClick]="save(data)">
      Save
    </button>
    <!--TODO: Connect #63-->
    <!--<mat-progress-bar class="jms-instance-single-loading" color="accent" mode="determinate" value="40"></mat-progress-bar>-->
  </mat-toolbar>

  <ng-container *ngSwitchCase="viewState.Edit">
    <section class="grid" *ngIf="!data.directLink">
      <div class="col-12">
        <mat-card>
          <div class="flex ai-center">
            <button mat-button (click)="duplicate(data)">
              <mat-icon>filter_none</mat-icon>
              <span>&nbsp;Duplicate</span>
            </button>
            <div class="flex-1"></div>
            <button mat-icon-button aria-label="Previous category" matTooltip="Previous category" (click)="move(false, data.form)">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button aria-label="Next category" matTooltip="Next category" (click)="move(true, data.form)">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </section>
  </ng-container>

  <section class="grid">
    <ng-container *ngFor="let segment of data.segments">
      <ng-template [cdkPortalOutlet]="segment.component"></ng-template>
    </ng-container>
  </section>
</form>
