@import '../variables';

/**
 * Loading
 *
 * A simple loading style for buttons.
 *
 *============================================================================*/

/* Style
 *============================================================================*/

button,
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  &.loading {
    position: relative;
    pointer-events: none;
    user-select: none;
    background: white;
    color: transparent;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: black black transparent transparent;
      animation: loading-animation 0.75s linear infinite;
      @keyframes loading-animation {
        0%   { transform: translate(-50%, -50%) rotate(0deg); }
        100% { transform: translate(-50%, -50%) rotate(360deg); }
      }
    }
  }
}
