/**
 * Paginations
 */
.jp-sp-w {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jp-sp-d {
  width: 8px;
  height: 8px;
  margin: 2px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
  cursor: pointer;

  &.active {
    height: 12px;
    width: 12px;
    background: red;
    opacity: 1;
  }
}

//slider arrows

.right {
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.left {
  position: absolute;
  top: 50%;
  left: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.arrow {
  opacity: 0;
  color: white;
  font-size: 80px;
}

jp-slider:hover {
  .arrow {
    opacity: 1;
    transition: all 0.7s;
  }
}

.slider-img {
  height: 80vh;
  width: 100%;

  @media screen and (max-width: 900px) {
    height: auto;
  }
}
