<form autocomplete="off">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="search" />
    <mat-spinner matSuffix *ngIf="loading$ | async" aria-label="Loading" [diameter]="24"></mat-spinner>
  </mat-form-field>

  <ng-container *ngIf="products$ | async as products">
    <mat-nav-list *ngIf="products.length; else noResults;">
      <h3 mat-subheader>Results:</h3>
      <mat-list-item *ngFor="let product of products">
        <img matListAvatar [src]="product.gallery[0]" [alt]="product.name" />
        <button class="jfs-search-link cs-pointer" matLine id="a-opnPdct" (click)="openProduct(product)" tabindex="0">
          {{product.name}}
        </button>
      </mat-list-item>
    </mat-nav-list>

    <ng-template #noResults>
      <p class="ta-center" *ngIf="search.value && ((loading$ | async) === false)">No results.</p>
    </ng-template>
  </ng-container>
</form>
