@import "scss/00-setup/theme";
@import "scss/00-setup/angular-material-theme";

@import "scss/01-generic/resets";
@import "scss/01-generic/generic";

@import "scss/02-components/angular-material-components";
@import "scss/02-components/loading";

@import "scss/03-utilities/sticky-header";
@import "scss/03-utilities/grid";
@import "scss/03-utilities/utilities";

/*
<mat-card>
  <mat-card-header>
    <h1>Module info</h1>
  </mat-card-header>
  <mat-card-content>
    <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
*/
