rules_version = '2';
service cloud.firestore {
  function access(database, module, operation) {
    return request.auth.token.role in get(/databases/$(database)/documents/modules/$(module)).data.authorization[operation]
  }

  function authenticated() {
    return request.auth.token != null;
  }

  function admin() {
    return request.auth.token.role == 'admin';
  }

  match /databases/{database}/documents {

    match /settings/user {
      allow read, write: if admin();
    }

    match /settings/layout {
      allow read: if authenticated();
      allow write: if admin();
    }

    match /users/{user=**} {
      allow read, write: if access(database, 'users', 'read') || resource.id == request.auth.uid;
    }

    match /modules/{module=**} {
      allow read: if authenticated();
      allow write: if admin();
    }

    match /{module}/{document=**} {
      allow read: if access(database, module, 'read');
      allow write: if access(database, module, 'write');
    }
  }
}
