service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true
      allow write: if request.auth.token.admin == true
    }

    match /users/{userId}/profilePicture.png {
     	allow read: if true
 			allow write: if request.auth.uid == userId;
      allow write: if request.auth.token.admin == true
    }

  }
}
