.profile-picture-container {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    border-radius: 50%;
    transition: .2s;
  }

  &:hover {
    .profile-picture-edit {
      opacity: 1;
    }
    &:after {
      background: rgba(255,255,255,.75);
    }
  }
}

.profile-picture {
  border-radius: 50%;
  transition: .2s;
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  object-fit: cover;
}

.profile-picture-edit {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: .2s;
}

.loading{
  opacity: 1;
  background-color: white;
  color: transparent;
  pointer-events: none;
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    border-bottom-color: transparent;
    animation: loading .8s infinite;
    @keyframes loading {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    }
  }
}
