<section class="p-y-m ta-center bg-primary">
  <div class="profile-picture-container" *ngIf="loadImg">
    <img class="profile-picture" src="{{downloadURL}}" alt="Profile picture" width="100" height="100">
    <button class="profile-picture-edit" [class.loading]="loading$ | async" mat-icon-button color="accent" aria-label="edit" (click)="openFileUpload()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <h6 class="c-l-primary p-y-xs">{{afAuth.auth.currentUser.displayName}}</h6>
  <p class="c-l-secondary">{{afAuth.auth.currentUser.email}}</p>
</section>
<input #file type="file" hidden (change)="filesImage($event.target.files)">
<nav mat-tab-nav-bar backgroundColor="primary" mat-align-tabs="center">
  <a
    mat-tab-link
    *ngFor="let link of links"
    [routerLink]="link.route"
    routerLinkActive="active"
    (click)="activeLink = link"
    [active]="activeLink.route === link.route"
  >
    {{ link.label }}
  </a>
</nav>
<section class="p-t-m p-b-l">
  <router-outlet></router-outlet>
</section>
