<section class="primary bg p-x-s p-y-m flex jc-between ai-center">
  <h6>Modules</h6>
  <a mat-flat-button routerLink="../single/new">Add module</a>
</section>

<section class="grid">
  <div class="col-12">
    <mat-card>
      <!--Search-->
      <form [formGroup]="filters">
        <jms-search-input formControlName="search"></jms-search-input>
      </form>

      <!--Table actions-->
      <mat-toolbar class="mat-card-inset">
        <ng-container *ngIf="allChecked$ | async as ac">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && ac.checked"
            [indeterminate]="selection.hasValue() && !ac.checked"
            color="primary"
            matTooltip="Select">
          </mat-checkbox>&nbsp;&nbsp;&nbsp;
        </ng-container>

        <button
          mat-icon-button
          matTooltip="Remove {{selection.selected.length}} items"
          *ngIf="selection.hasValue()"
          (click)="deleteSelection()">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-toolbar>

      <!--Modules list-->
      <table
        class="mat-card-inset"
        mat-table
        matSort
        matSortDisableClear
        [dataSource]="items$ | async"
        [matSortActive]="options.sort.active"
        [matSortDirection]="options.sort.direction">
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row.id) : null"
              [checked]="selection.isSelected(row.id)"
              color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">
            {{element.name}}<br>
            <span class="fs-small fg-secondary">{{element.id}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created on</th>
          <td mat-cell *matCellDef="let element">{{element.createdOn | date}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="ta-right">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions" matTooltip="Actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['..', 'single', element.id]">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item fDisable (click)="deleteOne(element)">
                <mat-icon>delete_forever</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!--Loading-->
      <div class="flex jc-center m-y-s">
        <mat-spinner *ngIf="dataLoading$ | async" [diameter]="40"></mat-spinner>
      </div>

      <!--Empty state-->
      <p class="ta-center p-y-l" *ngIf="emptyState$ | async">
        No modules yet. <button mat-button color="primary" routerLink=",,/single/new">Add module</button>
      </p>
    </mat-card>
  </div>
</section>
