@import 'scss/01-tools/fluid';
@import 'scss/02-generic/theme';
@import 'scss/02-generic/resets';
@import 'scss/02-generic/generic';
@import 'scss/03-layout/grid';
@import 'scss/04-components/toolbar';
@import 'scss/04-components/loading';
@import 'scss/04-components/snack-bar';
@import 'scss/05-utilities/utilities';

// Temporary material fix
// https://github.com/angular/components/issues/15880
html.cdk-global-scrollblock {
  position: initial !important;
}
