.jfs-app-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  padding: 0 16px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

  &.hidden {
    display: none;
  }
}

.jfs-app-main {
  padding-top: 64px; // Header height
  position: relative;
  z-index: 1;
}

.color-picker {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  padding: 24px;
}

button[mat-fab] {
  position: relative;
  z-index: 1;
}

button[mat-mini-fab] {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  opacity: 0;
  transition: .4s;
}

.color-picker.active {
  & > button[mat-mini-fab] {
    opacity: 1;
  }
  & > .color-picker-one {
    transform: translate(0, -80px);
  }
  & > .color-picker-two {
    transform: translate(-40px, -70px);
  }
  & > .color-picker-three {
    transform: translate(-70px, -40px);
  }
  & > .color-picker-four {
    transform: translate(-80px, 0);
  }
}
