<div class="mat-form-field-wrapper">
  <p class="fs-small fg-secondary" *ngIf="cData.label">{{cData.label}}</p>
  <textarea #textarea role="textarea">{{cData.control.value}}</textarea>
</div>

<ng-template #youTubeDialog>
  <h1 mat-dialog-title>{{'FIELDS.WYSIWYG.EMBED_YOUTUBE' | transloco}}</h1>

  <form [formGroup]="ytForm">
    <mat-dialog-content>
      <mat-form-field class="w-full">
        <mat-label>{{'FIELDS.WYSIWYG.VIDEO_ID' | transloco}}</mat-label>
        <input matInput formControlName="value">
      </mat-form-field>

      <label class="mat-form-field-wrapper flex jc-between">
        <span>{{'FIELDS.WYSIWYG.FULL_WIDTH' | transloco}}</span>
        <mat-slide-toggle formControlName="fullWidth"></mat-slide-toggle>
      </label>

      <label class="mat-form-field-wrapper flex jc-between">
        <span>{{'FIELDS.WYSIWYG.SHOW_PLAYER_CONTROLS' | transloco}}</span>
        <mat-slide-toggle formControlName="showPlayerControls"></mat-slide-toggle>
      </label>

      <label class="mat-form-field-wrapper flex jc-between">
        <span>{{'FIELDS.WYSIWYG.PRIVACY_ENHANCED_MODE' | transloco}}</span>
        <mat-slide-toggle formControlName="privacyEnhancedMode"></mat-slide-toggle>
      </label>

      <mat-form-field class="w-full">
        <mat-label>{{'FIELDS.WYSIWYG.ALIGNMENT' | transloco}}</mat-label>
        <mat-select formControlName="align">
          <mat-option value="left">{{'FIELDS.WYSIWYG.LEFT' | transloco}}</mat-option>
          <mat-option value="center">{{'FIELDS.WYSIWYG.CENTER' | transloco}}</mat-option>
          <mat-option value="right">{{'FIELDS.WYSIWYG.RIGHT' | transloco}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button mat-button mat-dialog-close>{{'GENERAL.CLOSE' | transloco}}</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true">{{'GENERAL.SAVE' | transloco}}</button>
    </mat-dialog-actions>
  </form>
</ng-template>
