<div class="mat-form-field-wrapper">
  <p class="fs-small fg-secondary" *ngIf="cData.label">{{cData.label}}</p>
  <textarea #textarea role="textarea">{{cData.control.value}}</textarea>
</div>

<ng-template #youTubeDialog>
  <h1 mat-dialog-title>Embed YouTube</h1>

  <form [formGroup]="ytForm">
    <mat-dialog-content>
      <mat-form-field class="w-full">
        <input placeholder="Video ID" matInput formControlName="value">
      </mat-form-field>

      <label class="mat-form-field-wrapper flex jc-between">
        <span>Full Width</span>
        <mat-slide-toggle formControlName="fullWidth"></mat-slide-toggle>
      </label>

      <label class="mat-form-field-wrapper flex jc-between">
        <span>Show Player Controls</span>
        <mat-slide-toggle formControlName="showPlayerControls"></mat-slide-toggle>
      </label>

      <label class="mat-form-field-wrapper flex jc-between">
        <span>Privacy Enhanced Mode</span>
        <mat-slide-toggle formControlName="privacyEnhancedMode"></mat-slide-toggle>
      </label>

      <mat-form-field class="w-full">
        <mat-select formControlName="align" placeholder="Alignment">
          <mat-option value="left">Left</mat-option>
          <mat-option value="center">Center</mat-option>
          <mat-option value="right">Right</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true">Save</button>
    </mat-dialog-actions>
  </form>
</ng-template>
