<!--Upload buttons-->
<div class="flex jc-end">
  <button type="button" mat-button color="primary" (click)="openUrlUpload()">
    <span>Add image from URL</span>
  </button>
  <button type="button" mat-button color="primary" (click)="openFileUpload()">
    <span>Add images</span>
  </button>
</div>

<!--Upload from URL-->
<ng-template #urlUploadDialog>
  <h1 mat-dialog-title>Upload image from URL</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>URL</mat-label>
      <input
        matInput
        [formControl]="urlControl"
        type="url"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="jc-end">
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    &nbsp;
    <button type="button" mat-flat-button color="primary" (click)="addImage()">
      Add image
    </button>
  </div>
</ng-template>

<!--Upload from disk-->
<input #file type="file" multiple hidden (change)="filesUploaded($event.target)">

<!--Images-->
<div
  class="jfsc-file-upload-list"
  *ngIf="values.length; else noValue" cdkDropListGroup>
  <ng-container *ngIf="imageWidth$ | async  as imgWidth">
    <div *ngFor="let val of values; index as index" cdkDropList [cdkDropListData]="index" cdkDropListOrientation="vertical">
      <img class="jfsc-file-upload-image" [width]="imgWidth" [src]="val.data" cdkDrag cdkDragBoundary=".jfsc-file-upload-list" (cdkDragEntered)="entered($event)" (cdkDragEnded)="ended($event)" [cdkDragData]="index">
      <button type="button" mat-icon-button matTooltip="Remove" color="warn" (click)="removeImage(index, val)" style="position: absolute; left: 0;">
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>
  </ng-container>
</div>

<!--No images-->
<ng-template #noValue>
  <p class="p-y-m ta-center">No images added yet.</p>
</ng-template>
