<form [formGroup]="filters">

  <div class="jfs-shop-viewport">
    <section class="jfs-shop-filters bg-primary">
      <div class="grid">
        <div class="col-12 flex">
          <!--Filters trigger-->
          <button id="btn-filter" mat-flat-button color="primary" (click)="openFilter()">
            <mat-icon>filter_list</mat-icon>
            <span>&nbsp;Filters&nbsp;</span>
          </button>
          <!--Divider-->
          <div class="f1"></div>

          <!--Sort by-->
          <button id="btn-sort" mat-flat-button color="primary" [matMenuTriggerFor]="sortByMenu">
            <span>Sort by:</span> <span>&nbsp;{{orderName}}&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #sortByMenu="matMenu">
            <button id="btn-update-order" *ngFor="let sortBy of sortByList" (click)="updateOrder(sortBy)" mat-menu-item>
              {{sortBy.name}}
            </button>
          </mat-menu>
        </div>

        <!--Filters chips-->
        <mat-chip-list class="col-12" *ngIf="chipArray.length">
          <mat-chip *ngFor="let chip of chipArray">
            <span>{{chip.filter}}: {{chip.value}}</span>
            <mat-icon matChipRemove (click)="removeChip(chip)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </section>

    <div class="grid jc-start" #productList>
      <!--Products-->
      <ng-container *ngIf="(products$ | async) as products">
        <ng-container *ngIf="!!products.length; else emptyList">
          <div
            class="col-4 col-s-6 col-xs-12"
            *ngFor="let product of products" @fadeIn>
            <jfs-product-card [product]="product"></jfs-product-card>
          </div>
        </ng-container>
      </ng-container>

      <!--Products empty-->
      <ng-template #emptyList>
        <div class="col-12">
          <p class="p-y-s ta-center c-l-primary">No products match your search criteria. Try turning off some
            filters.</p>
        </div>
      </ng-template>
    </div>
  </div>

  <!--Filters dialog-->
  <ng-template #filterDialog>
    <div mat-dialog-title>
      <div class="flex ai-center jc-between">
        <h6>Filters</h6>
        <button
          tabindex="-1"
          mat-icon-button
          aria-label="Close dialog"
          mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div mat-dialog-content>
      <mat-form-field class="w-full m-b-xs">
        <mat-select placeholder="Category" formControlName="category">
          <mat-option
            *ngFor="let category of categories$ | async"
            [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <div class="ta-right w-full">
        <button mat-button (click)="filters.reset()">Reset all</button>&nbsp;
        <button id="btn-cont-shop" mat-flat-button mat-dialog-close color="primary">
          Continue shopping
        </button>
      </div>
    </div>
  </ng-template>
</form>

<div *ngIf="loading$ | async" class="shop-loading">
  <mat-spinner diameter="40" color="accent"></mat-spinner>
</div>
