.jfs-shop-viewport {
  height: calc(100vh - 64px); // 100vh - header
  width: 100%;
}

.jfs-shop-filters {
  padding-top: 20px;
  padding-bottom: 160px;
  margin-bottom: -140px;
}

.fixed {
  top: 200px;
  left: 200px;
  position: fixed;
  z-index: 100;
}
