.jfs-shop-viewport {
  height: calc(100vh - 64px); // 100vh - header
  width: 100%;
}

.jfs-shop-filters {
  padding-top: 20px;
  padding-bottom: 160px;
  margin-bottom: -140px;
}

.jfs-shop-loading {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
