<section>

  <mat-toolbar color="primary">
    <span>Dashboard</span>
  </mat-toolbar>

  <div class="grid p-y-m">
    <div class="col-8 col-s-12">
      <mat-card class="h-full">
        <h6>Getting started</h6>
        <div class="p-y-s">
          <mat-divider></mat-divider>
        </div>
        <mat-nav-list *ngIf="data$ | async as data">
          <mat-list-item [routerLink]="['/categories/new']">
            <mat-icon mat-list-icon>label</mat-icon>
            <button mat-icon-button color="primary" style="pointer-events: none;">
              <mat-icon>{{data.categories ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
            </button>
            <h4 mat-line>Create a category</h4>
            <p mat-line>This let's you place products in categories.</p>
          </mat-list-item>
          <mat-list-item [routerLink]="['/products/new']">
            <mat-icon mat-list-icon>shopping_basket</mat-icon>
            <button mat-icon-button color="primary" style="pointer-events: none;">
              <mat-icon>{{data.products ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
            </button>
            <h4 mat-line>Create a product</h4>
            <p mat-line>Create a product that you will sell!</p>
          </mat-list-item>
          <mat-list-item [routerLink]="['/discounts/new']">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <button mat-icon-button color="primary" style="pointer-events: none;">
              <mat-icon>{{data.discounts ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
            </button>
            <h4 mat-line>Create discounts</h4>
            <p mat-line>Create discounts for product, or give away discount codes.</p>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>

    <div class="col-4 col-s-12">
      <mat-card class="h-full">
        <h6>Recent orders</h6>
        <div class="p-y-s">
          <mat-divider></mat-divider>
        </div>
        <mat-nav-list>
            <mat-list-item *ngFor="let ord of orders$ | async" [routerLink]="['/orders/' + ord.id]">
              <mat-icon mat-list-icon>receipt</mat-icon>
              <h4 mat-line>{{ord.id}}</h4>
              <p mat-line>{{ord.createdOn | date}}</p>
            </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>

    <div class="col-6 col-s-12">
      <mat-card class="h-full">
        <h6>Income</h6>
        <div class="p-y-s">
          <mat-divider></mat-divider>
        </div>
        <div class="jfsc-graph-placeholder"></div>
      </mat-card>
    </div>

    <div class="col-6 col-s-12">
      <mat-card class="h-full">
        <h6>New customers</h6>
        <div class="p-y-s">
          <mat-divider></mat-divider>
        </div>
        <div class="jfsc-graph-placeholder"></div>
      </mat-card>
    </div>

    <div class="col-6 col-s-12">
      <mat-card class="h-full">
        <h6>Informations</h6>
        <div class="p-y-s">
          <mat-divider></mat-divider>
        </div>
        <div>
          <p>Difference between discounts and sale is that, discount are like coupon code which user enters at the end of the order, in the other hand sale is  for example, Spring sale is sale when some products are 30% off because of the Spring. You can apply sale to any product individually.</p>
        </div>
      </mat-card>
    </div>
  </div>

</section>
