<section>

  <mat-toolbar color="primary">
    <span>Dashboard</span>
  </mat-toolbar>

  <div class="grid p-y-m">
    <div class="col-8">
      <mat-card><p class="p-b-xl">Get started</p></mat-card>
    </div>
    <div class="col-4">
      <mat-card><p class="p-b-xl">&nbsp;</p></mat-card>
    </div>
    <div class="col-6">
      <mat-card><p class="p-b-xl">&nbsp;</p></mat-card>
    </div>
    <div class="col-6">
      <mat-card><p class="p-b-xl">&nbsp;</p></mat-card>
    </div>
  </div>

</section>
