<section>
  <mat-toolbar color="primary">
    <h1>Orders</h1>
    <div class="f1"></div>
    <a mat-flat-button routerLink="/orders/new">Add order</a>
  </mat-toolbar>
</section>

<section class="p-y-m">
  <div class="grid">
    <div class="col-12">
      <mat-card>

        <form [formGroup]="filters" class="toolbar toolbar-inset p-t-0">
          <mat-form-field appearance="outline">
            <mat-label>&nbsp;Search</mat-label>
            <input matInput formControlName="search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <div class="f1"></div>
          <button mat-button (click)="openFilter()">
            <span>&nbsp;Filters&nbsp;</span>
            <mat-icon>filter_list</mat-icon>
          </button>
        </form>

        <jfsc-chips [chips$]="filters.valueChanges" (filterValue)="changeFilters($event)"></jfsc-chips>

        <ng-template #filterDialog>
          <div mat-dialog-title>
            <div class="flex ai-center jc-between">
              <h6>Filters</h6>
              <button
                  tabindex="-1"
                  mat-icon-button
                  aria-label="Close dialog"
                  mat-dialog-close>
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>

          <div mat-dialog-content>
            <mat-form-field class="w-full m-b-xs">
              <mat-select placeholder="Orders" [formControl]="orders">
                <mat-option [value]="null"> All </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div mat-dialog-actions>
            <div class="ta-right w-full">
              <button mat-button (click)="resetAll()">Reset all</button>&nbsp;
              <button id="btn-cntShp" mat-flat-button mat-dialog-close color="primary">
                Close
              </button>
            </div>
          </div>
        </ng-template>


        <div class="toolbar toolbar-inset">

          <!--Select all-->
          <ng-container *ngIf="allChecked$ | async as ac">
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && ac.checked"
                [indeterminate]="selection.hasValue() && !ac.checked"
                color="primary"
                matTooltip="Select">
            </mat-checkbox>&nbsp;&nbsp;&nbsp;
          </ng-container>

          <button mat-button *ngIf="selection.hasValue()" [matMenuTriggerFor]="batchActions">
            <span>Actions ({{selection.selected.length}})</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu  #batchActions="matMenu">
            <button mat-menu-item (click)="deleteSelection()">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>


          <!--Divider-->
          <div class="f1"></div>

          <!--Import-->
          <button mat-button>
            <mat-icon>vertical_align_bottom</mat-icon>
            <span>Import</span>
          </button>
        </div>

        <table mat-table [dataSource]="items$ | async" matSort>


          <ng-container matColumnDef="checkBox">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row.id) : null"
                  [checked]="selection.isSelected(row.id)"
                  color="primary">
              </mat-checkbox>
            </td>
          </ng-container>


          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="customerId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</th>
            <td mat-cell *matCellDef="let element">{{element.customerId}}</td>
          </ng-container>

          <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
            <td mat-cell *matCellDef="let element">{{element.orderId}}</td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
            <td mat-cell *matCellDef="let element">{{element.time | date}}</td>
          </ng-container>

          <ng-container matColumnDef="statusChange">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <mat-select
                    (selectionChange)="changeClient($event.value, element)"
                    [(ngModel)]="element.status">
                  <mat-option
                      *ngFor="let stat of (deliveryStatus | keyvalue)"
                      [value]="stat.value">
                    {{stat.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element" class="ta-right">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions" matTooltip="Actions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToSingle(element.orderId)">
                  <mat-icon>info</mat-icon>
                  <span>View order</span>
                </button>
                <button mat-menu-item (click)="deleteOne(element.orderId)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Delete product</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="flex jc-between p-y-s">
          <div class="p-x-m hide-xs"></div>
          <button
              mat-button
              color="primary"
              [disabled]="(hasMore$ | async) === false"
              [class.loading]="dataLoading$ | async"
              (click)="loadMore$.next(true)">
            Load More
          </button>
          <mat-form-field class="fs-small">
            <mat-select placeholder="Page size" [formControl]="pageSize">
              <mat-option *ngFor="let size of pageSizes" [value]="size">
                {{size}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </mat-card>
    </div>
  </div>
</section>
