@import "../breakpoints";

/**
 * Utilities
 *
 * Utility classes that make life simple.
 *
 *============================================================================*/



/* Flex
 *============================================================================*/

.flex       { display: flex; }
.iflex      { display: inline-flex; }

.fw-wrap    { flex-wrap: wrap; }
.fw-nowrap  { flex-wrap: nowrap; }
.fw-rev     { flex-wrap: wrap-reverse; }

.fd-row     { flex-direction: row; }
.fd-row-rev { flex-direction: row-reverse; }
.fd-col     { flex-direction: column; }
.fd-col-rev { flex-direction: column-reverse; }

.ai-stretch { align-items: stretch; }
.ai-start   { align-items: flex-start; }
.ai-end     { align-items: flex-end; }
.ai-center  { align-items: center; }
.ai-base    { align-items: baseline; }

.jc-start   { justify-content: flex-start; }
.jc-end     { justify-content: flex-end; }
.jc-center  { justify-content: center; }
.jc-around  { justify-content: space-around; }
.jc-between { justify-content: space-between; }
.jc-evenly  { justify-content: space-evenly; }

.flex1      { flex: 1; }
.flex2      { flex: 2; }
.flex3      { flex: 3; }
.flex4      { flex: 4; }



/* Other displays
 *============================================================================*/

.block    { display: block; }
.iblock   { display: inline-block; }
.inline   { display: inline; }
.contents { display: contents; }



/* Hide & show
 *============================================================================*/

.hide-xs { @media (max-width: $screen-xs) { display: none; } }
.hide-s  { @media (max-width: $screen-s)  { display: none; } }
.hide-m  { @media (max-width: $screen-m)  { display: none; } }
.hide-l  { @media (max-width: $screen-l)  { display: none; } }

.show-xs { @media (min-width: $screen-xs + 1px) { display: none; } }
.show-s  { @media (min-width: $screen-s + 1px)  { display: none; } }
.show-m  { @media (min-width: $screen-m + 1px)  { display: none; } }
.show-l  { @media (min-width: $screen-l + 1px)  { display: none; } }



/* Backgrounds
 *============================================================================*/

.bg {
  background-color: var(--theme);
  color: var(--primary);
}
@each $group-name, $group in $colors-themes {
  .bg-#{$group-name} {
    background-color: var(--#{$group-name}-theme);
    color: var(--#{$group-name}-primary);
  }
}



/* Colors
 *============================================================================*/

.c            { color: var(--theme); }
.fg-primary   { color: var(--primary); }
.fg-secondary { color: var(--secondary); }

@each $group-name, $group in $colors-themes {
  .c-#{$group-name} {
    color: var(--#{$group-name}-theme);
  }
}



/* Fonts
 *============================================================================*/

@each $group-name, $group in $fonts {
  .font-#{$group-name} {
    font-family: var(--font-#{$group-name});
  }
}



/* Text aligns
 *============================================================================*/

.ta-left    { text-align: left; }
.ta-center  { text-align: center; }
.ta-right   { text-align: right; }
.ta-justify { text-align: justify; }



/* White space
 *============================================================================*/

.ws-nowrap { white-space: nowrap; }
.ws-normal { white-space: normal; }



/* Font size
 *============================================================================*/

.fs-small { font-size: 0.8em; }
.fs-large { font-size: 1.3em; }



/* Image controls
 *============================================================================*/

.obj-cover   { object-fit: cover; }
.obj-contain { object-fit: contain; }



/* Position
 *============================================================================*/

.relative { position: relative; }



/* Overflows
 *============================================================================*/

.of-auto     { overflow: auto; }
.of-hidden   { overflow: hidden; }
.of-scroll   { overflow: scroll; }

.of-x-auto   { overflow-x: auto; }
.of-x-hidden { overflow-x: hidden; }
.of-x-scroll { overflow-x: scroll; }

.of-y-auto   { overflow-y: auto; }
.of-y-hidden { overflow-y: hidden; }
.of-y-scroll { overflow-y: scroll; }



/* Width & height
 *============================================================================*/

.w-full  { width: 100%; }
.w-auto  { width: auto; }

.h-full  { height: 100%; }
.h-auto  { height: auto; }

.mw-full { max-width: 100%; }



/* Box shadows
 *============================================================================*/

.shadow-s { box-shadow: 0 2px 6px 0 rgba(0,0,0,.25); }
.shadow-m { box-shadow: 0 10px 30px 0 rgba(0,0,0,.20); }
.shadow-l { box-shadow: 0 20px 60px 0 rgba(0,0,0,.15); }



/* Border radii
 *============================================================================*/

.br-rounded { border-radius: 4px; }
.br-circle  { border-radius: 50%; }
.br-pill    { border-radius: 999px; }



/* Borders
 *============================================================================*/

.b-a { border       : 2px solid; }
.b-t { border-top   : 2px solid; }
.b-r { border-right : 2px solid; }
.b-b { border-bottom: 2px solid; }
.b-l { border-left  : 2px solid; }



/* Paddings
 *============================================================================*/

.p-a-xs { padding: 4px; }
.p-a-s  { padding: 10px; }
.p-a-m  { padding: 20px; }
.p-a-l  { padding: 40px; }
.p-a-xl { padding: 80px; }

.p-y-xs { padding-top: 4px;  padding-bottom: 4px; }
.p-y-s  { padding-top: 10px; padding-bottom: 10px; }
.p-y-m  { padding-top: 20px; padding-bottom: 20px; }
.p-y-l  { padding-top: 40px; padding-bottom: 40px; }
.p-y-xl { padding-top: 80px; padding-bottom: 80px; }

.p-x-xs { padding-left: 4px;  padding-right: 4px; }
.p-x-s  { padding-left: 10px; padding-right: 10px; }
.p-x-m  { padding-left: 20px; padding-right: 20px; }
.p-x-l  { padding-left: 40px; padding-right: 40px; }
.p-x-xl { padding-left: 80px; padding-right: 80px; }

.p-t-xs { padding-top: 4px; }
.p-t-s  { padding-top: 10px; }
.p-t-m  { padding-top: 20px; }
.p-t-l  { padding-top: 40px; }
.p-t-xl { padding-top: 80px; }

.p-r-xs { padding-right: 4px; }
.p-r-s  { padding-right: 10px; }
.p-r-m  { padding-right: 20px; }
.p-r-l  { padding-right: 40px; }
.p-r-xl { padding-right: 80px; }

.p-b-xs { padding-bottom: 4px; }
.p-b-s  { padding-bottom: 10px; }
.p-b-m  { padding-bottom: 20px; }
.p-b-l  { padding-bottom: 40px; }
.p-b-xl { padding-bottom: 80px; }

.p-l-xs { padding-left: 4px; }
.p-l-s  { padding-left: 10px; }
.p-l-m  { padding-left: 20px; }
.p-l-l  { padding-left: 40px; }
.p-l-xl { padding-left: 80px; }



/* Margins
 *============================================================================*/

.m-a-xs { margin: 4px; }
.m-a-s  { margin: 10px; }
.m-a-m  { margin: 20px; }
.m-a-l  { margin: 40px; }
.m-a-xl { margin: 80px; }

.m-y-xs { margin-top: 4px;  margin-bottom: 4px; }
.m-y-s  { margin-top: 10px; margin-bottom: 10px; }
.m-y-m  { margin-top: 20px; margin-bottom: 20px; }
.m-y-l  { margin-top: 40px; margin-bottom: 40px; }
.m-y-xl { margin-top: 80px; margin-bottom: 80px; }

.m-x-xs { margin-left: 4px;  margin-right: 4px; }
.m-x-s  { margin-left: 10px; margin-right: 10px; }
.m-x-m  { margin-left: 20px; margin-right: 20px; }
.m-x-l  { margin-left: 40px; margin-right: 40px; }
.m-x-xl { margin-left: 80px; margin-right: 80px; }

.m-t-xs { margin-top: 4px; }
.m-t-s  { margin-top: 10px; }
.m-t-m  { margin-top: 20px; }
.m-t-l  { margin-top: 40px; }
.m-t-xl { margin-top: 80px; }

.m-r-xs { margin-right: 4px; }
.m-r-s  { margin-right: 10px; }
.m-r-m  { margin-right: 20px; }
.m-r-l  { margin-right: 40px; }
.m-r-xl { margin-right: 80px; }

.m-b-xs { margin-bottom: 4px; }
.m-b-s  { margin-bottom: 10px; }
.m-b-m  { margin-bottom: 20px; }
.m-b-l  { margin-bottom: 40px; }
.m-b-xl { margin-bottom: 80px; }

.m-l-xs { margin-left: 4px; }
.m-l-s  { margin-left: 10px; }
.m-l-m  { margin-left: 20px; }
.m-l-l  { margin-left: 40px; }
.m-l-xl { margin-left: 80px; }