/**
 * Theme
 *
 * Adjustable theme settings.
 *
 *============================================================================*/



/* Theme
 *============================================================================*/

$colors-themes: (
  primary: (
    theme    : #3f51b5,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.7),
    tertiary : rgba(255,255,255,.04),
  ),
  accent: (
    theme    : #ff4081,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.7),
    tertiary : rgba(255,255,255,.04),
  ),
  warn: (
    theme    : #dc143c,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.7),
    tertiary : rgba(255,255,255,.04),
  ),
  pale: (
    theme    : #fafafa,
    primary  : rgba(0,0,0,.87),
    secondary: rgba(0,0,0,.54),
    tertiary : rgba(0,0,0,.04),
  ),
  light: (
    theme    : #ffffff,
    primary  : rgba(0,0,0,.87),
    secondary: rgba(0,0,0,.54),
    tertiary : rgba(0,0,0,.04),
  ),
  sidebar: (
    theme    : #f0f0f0,
    primary  : rgba(0,0,0,.87),
    secondary: rgba(0,0,0,.54),
    tertiary : rgba(0,0,0,.04),
  )
);

$fonts: (
  primary  : sans-serif,
);



/* Generating CSS variables in :root
 *============================================================================*/

:root {
  @each $group-name, $group in $colors-themes {
    @each $color-name, $color-value in $group {
      --#{$group-name}-#{$color-name}: #{$color-value};
    }
  }
  @each $font-name, $font-value in $fonts {
    --font-#{$font-name}: #{$font-value};
  }
}



/* Generating theme classes
 *============================================================================*/

@each $group-name, $group in $colors-themes {
  .#{$group-name} {
    --theme    : var(--#{$group-name}-theme);
    --primary  : var(--#{$group-name}-primary);
    --secondary: var(--#{$group-name}-secondary);
    --tertiary : var(--#{$group-name}-tertiary );
  }
}
