<nav class="dashboard-nav" [class.dashboard-nav-expanded]="navigationExpanded">
  <section class="dashboard-nav-welcome">
    <!--<img class="dashboard-nav-welcome-logo" src="assets/logo.svg" alt="Logo" width="60">-->
    <h1 class="dashboard-nav-welcome-logo">{{staticConfig.displayName}}</h1>
    <mat-icon class="dashboard-nav-welcome-menu" role="button" [attr.aria-label]="'LAYOUT.MENU' | transloco" (click)="toggleMenu()">menu</mat-icon>
  </section>

  <div class="dashboard-nav-scrollable">
    <ng-container *ngFor="let item of links$ | async" [ngSwitch]="item.type">

      <a *ngSwitchCase="navigationItemType.Link" class="dashboard-nav-link" [jmsActiveLink]="item" (click)="closeMenu()">
        <mat-icon *ngIf="item.icon" aria-hidden="true" class="dashboard-nav-link-icon">{{item.icon}}</mat-icon>
        <span class="dashboard-nav-link-text">{{item.label | transloco}}</span>
        <span class="dashboard-nav-link-tooltip" [matTooltip]="item.label | transloco" matTooltipPosition="right"></span>
      </a>

      <div *ngSwitchCase="navigationItemType.Empty" class="dashboard-nav-empty">
        <mat-icon *ngIf="item.icon" aria-hidden="true" class="dashboard-nav-empty-icon">{{item.icon}}</mat-icon>
        <span class="dashboard-nav-empty-text">{{item.label | transloco}}</span>
        <span class="dashboard-nav-empty-tooltip" [matTooltip]="item.label | transloco" matTooltipPosition="right"></span>
      </div>

      <div
        *ngSwitchCase="navigationItemType.Expandable"
        class="dashboard-nav-expandable"
        [class.active]="item.active">
        <button class="dashboard-nav-expandable-label" (click)="item.active = !item.active">
          <mat-icon *ngIf="item.icon" aria-hidden="true" class="dashboard-nav-expandable-label-icon">{{item.icon}}</mat-icon>
          <span class="dashboard-nav-expandable-label-text">{{item.label | transloco}}</span>
          <span class="dashboard-nav-expandable-label-tooltip" [matTooltip]="item.label | transloco" matTooltipPosition="right"></span>
        </button>
        <a class="dashboard-nav-expandable-item" *ngFor="let child of item.children" [jmsActiveLink]="child" (click)="closeMenu()">
          <mat-icon *ngIf="child.icon" aria-hidden="true" class="dashboard-nav-expandable-item-icon">{{child.icon}}</mat-icon>
          <span class="dashboard-nav-expandable-item-text">{{child.label | transloco}}</span>
          <span class="dashboard-nav-expandable-item-tooltip" [matTooltip]="child.label | transloco" matTooltipPosition="right"></span>
        </a>
      </div>

      <div *ngSwitchCase="navigationItemType.Expanded" class="dashboard-nav-expanded">
        <a *ngIf="item.value; else empty;" class="dashboard-nav-expanded-label" [jmsActiveLink]="item">
          <mat-icon *ngIf="item.icon" aria-hidden="true" class="dashboard-nav-expanded-label-icon">{{item.icon}}</mat-icon>
          <span class="dashboard-nav-expanded-label-text">{{item.label | transloco}}</span>
          <span class="dashboard-nav-expanded-label-tooltip" [matTooltip]="item.label | transloco" matTooltipPosition="right"></span>
        </a>

        <ng-template #empty>
          <div class="dashboard-nav-expanded-label">
            <mat-icon *ngIf="item.icon" aria-hidden="true" class="dashboard-nav-expanded-label-icon">{{item.icon}}</mat-icon>
            <span class="dashboard-nav-expanded-label-text">{{item.label | transloco}}</span>
            <span class="dashboard-nav-expandable-item-tooltip" [matTooltip]="item.label | transloco" matTooltipPosition="right"></span>
          </div>
        </ng-template>

        <a *ngFor="let child of item.children" class="dashboard-nav-expanded-item" [jmsActiveLink]="child" (click)="closeMenu()">
          <mat-icon *ngIf="child.icon" aria-hidden="true" class="dashboard-nav-expanded-item-icon">{{child.icon}}</mat-icon>
          <span class="dashboard-nav-expanded-item-text">{{child.label | transloco}}</span>
          <span class="dashboard-nav-expanded-item-tooltip" [matTooltip]="child.label | transloco" matTooltipPosition="right"></span>
        </a>
      </div>

    </ng-container>
  </div>

  <span class="dashboard-nav-footer inactive" *ngIf="currentUser$ | async as user">
    <mat-icon aria-hidden="true" class="dashboard-nav-footer-icon">account_circle</mat-icon>
    <span class="dashboard-nav-footer-text">{{user.email}}</span>
    <span class="dashboard-nav-footer-tooltip" [matTooltip]="user.email" matTooltipPosition="right"></span>
  </span>

  <a class="dashboard-nav-footer" (click)="logOut()">
    <mat-icon aria-hidden="true" class="dashboard-nav-footer-icon">power_settings_new</mat-icon>
    <span class="dashboard-nav-footer-text">{{'LAYOUT.LOG_OUT' | transloco}}</span>
    <span class="dashboard-nav-footer-tooltip" [matTooltip]="'LAYOUT.LOG_OUT' | transloco" matTooltipPosition="right"></span>
  </a>
</nav>

<main class="dashboard-main">
  <router-outlet></router-outlet>
</main>
