<mat-form-field class="w-full" appearance="outline">
  <mat-label>
    {{cData.label}}
  </mat-label>
  <input matInput [matDatepicker]="picker" [placeholder]="cData['placeholder']" [formControl]="entryControl">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    [touchUi]="cData['touchUi'] || true"
    [startView]="cData['startView'] || 'month'"
    [startAt]="startDate">
  </mat-datepicker>
  <mat-hint *ngIf="cData.hint" [innerHTML]="cData.hint | jpSanitize"></mat-hint>
</mat-form-field>
