<form *ngIf="form" [formGroup]="form">

  <section>
    <mat-toolbar color="primary">
      <a mat-icon-button routerLink="/gift-cards" aria-label="Back" matTooltip="Back">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span>Gift cards</span>
    </mat-toolbar>
  </section>

  <div class="grid">
    <div class="col-8 col-s-10 col-xs-12" [ngSwitch]="currentState">
      <ng-container *ngSwitchCase="viewState.Edit">
        <div class="flex ai-center jc-between">
          <h5>{{form.get('name').value}}</h5>
          <div>
            <button mat-icon-button aria-label="Previous gift-card" matTooltip="Previous gift-card"> <!-- (click)="move(false, form)" -->
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button aria-label="Next gift-card" matTooltip="Next gift-card"> <!-- (click)="move(true, form)" -->
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
        <button mat-button (click)="duplicate(form)">
          <mat-icon>filter_none</mat-icon>
          <span>&nbsp;Duplicate</span>
        </button>
      </ng-container>
      <h5 *ngSwitchCase="viewState.New">New gift card</h5>

      <h5 *ngSwitchCase="viewState.Copy">{{form.get('id').value}}</h5>

    </div>
  </div>

  <div class="grid grid-no-gutter p-b-m">
    <div class="col-8 col-s-10 col-xs-12">
      <div>
        <div class="grid">
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Gift card info</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Value</mat-label>
                  <span matPrefix>{{objectCurrencies[form.getRawValue().currency]}}&nbsp;</span>
                  <input placeholder="" type="number" matInput formControlName="value">
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Currency</mat-label>
                                    <mat-select formControlName="currency" (valueChange)="updateValues()">
                                      <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                        {{currency.value}} ({{currency.symbol}})
                                      </mat-option>
                                    </mat-select>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jfsc-actions-header">
    <button
      type="button"
      tabindex="-1"
      mat-flat-button
      color="primary"
      (click)="back()">
      {{currentState === viewState.Edit ? 'Discard changes' : 'Cancel'}}
    </button> &nbsp;

    <button
      mat-flat-button
      type="submit"
      fDisable
      [disabled]="form.invalid"
      [jpLoadClick]="save()">
      {{currentState === viewState.Edit ? 'Save changes' : 'Save'}}
    </button>
  </div>

</form>


