.jms-gallery {
  position: relative;
  border: 1px dashed var(--tertiary);
  margin-bottom: 1.25em;

  &-list {
    display: flex;
    flex-wrap: wrap;
    cursor: grab;

    &-placeholder {
      position: relative;
      flex-basis: calc(100% / 3);
      width: calc(100% / 3);
      padding-bottom: calc(100% / 3);
      border: 2px dashed var(--tertiary);
    }

    &-image {
      position: relative;
      flex-basis: calc(100% / 3);
      width: calc(100% / 3);
      padding-bottom: calc(100% / 3);
      border: 2px solid white;
      background: #eee;

      > div {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &-remove {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
        background: white;
        border: 1px solid #222;
        line-height: 24px;
        opacity: 0;
        transition: .2s;
      }

      &:hover &-remove {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: 'Drop To Upload';
    display: none;
    font-size: 20px;
    text-align: center;
  }

  &.active {
    border: 3px dashed var(--tertiary);
    background: #ccc;

    &:before {
      display: block;
    }
  }
}

.sort-wrapper {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.sort-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.sort-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;

  &:last-child {
    border: none;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .sort-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
