.jms-gallery {
  position: relative;
  border: 1px dashed var(--tertiary);
  margin-bottom: 1.25em;

  &-sort-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;

    &-image {
      position: relative;
      flex-basis: calc(100% / 3);
      width: calc(100% / 3);
      padding-bottom: calc(100% / 3);
      border: 2px solid white;
      background: #eee;

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &-remove {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
        background: white;
        border: 1px solid #222;
        line-height: 24px;
        opacity: 0;
        transition: .2s;
      }

      &:hover > &-remove {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &-dropzone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: -1;
  }
}

:host.dragging > .jms-gallery > .jms-gallery-dropzone {
  visibility: visible;
  z-index: 2;
}
