<p class="fs-small fg-secondary" *ngIf="cData.label">{{cData.label}}</p>

<div class="jms-gallery" jmsDropzone (dropped)="filesUploaded($event)">
  <div class="ta-center p-y-l">
    <button mat-button *ngIf="cData.allowUrl" (click)="openUploadDialog()">{{'FIELDS.GALLERY.ENTER_URL' | transloco}}</button>
    <button mat-button *ngIf="cData.allowServerUpload" (click)="openFileUpload()">{{'FIELDS.GALLERY.CHOOSE_FILES' | transloco}}</button>
    <button mat-button *ngIf="cData.allowServerUpload" (click)="openSortImages()">{{'FIELDS.GALLERY.SORT_IMAGES' | transloco}}</button>
  </div>

  <!--<div *ngFor="let file of files">-->
  <!--<upload-task [file]="file"></upload-task>-->
  <!--</div>-->

  <!--Upload from disk-->
  <input #file type="file" multiple hidden (change)="filesUploaded($event.target)">

  <!--Uploaded images list-->
  <ng-container>
    <div class="jms-gallery-list" cdkDropListGroup>

      <div class="jms-gallery-list-placeholder" cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>

      <div
        cdkDropList
        class="jms-gallery-list-image"
        [cdkDropListEnterPredicate]="dropListEnterPredicate"
        (cdkDropListDropped)="dropListDropped($event)"
        *ngFor="let val of cData.control.value; index as index">

        <div cdkDrag (cdkDragMoved)="dragMoved($event);">
          <img class="jms-gallery-list-image-inner" [src]="(val.data || val) | jpSanitize:'resourceUrl'">
          <button class="jms-gallery-list-image-remove" type="button" mat-icon-button [matTooltip]="'GENERAL.REMOVE' | transloco" (click)="removeImage(index, val)">
            <mat-icon>close</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </ng-container>
</div>

<!--Uplaod from URL-->
<ng-template #modal>
  <mat-dialog-content>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>{{'FIELDS.GALLERY.IMAGE_URL' | transloco}}</mat-label>
      <input matInput #url>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="jc-end">
    <button mat-button mat-dialog-close>{{'GENERAL.CANCEL' | transloco}}</button>&nbsp;
    <button mat-flat-button color="primary" [disabled]="!url.value" (click)="addImage(url.value)" mat-dialog-close>{{'FIELDS.GALLERY.ADD_IMAGE' | transloco}}</button>
  </mat-dialog-actions>
</ng-template>

<!--Image sort-->
<ng-template #imagesSort>
  <h1 mat-dialog-title>{{'FIELDS.GALLERY.SORT_IMAGES' | transloco}}</h1>

  <mat-dialog-content>

    <div
      class="sort-wrapper"
      cdkDropList
      (cdkDropListDropped)="sortDrop($event)">

      <div class="sort-box" *ngFor="let val of cData.control.value; index as index; first as first; last as last;" cdkDrag>
        <img class="sort-image" [src]="(val.data || val) | jpSanitize:'resourceUrl'">
        <div class="flex-1"></div>
        <div>
          <button mat-icon-button [disabled]="first" (click)="move(true, index)">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-icon-button [disabled]="last" (click)="move(false, index)">
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-icon-button cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </mat-dialog-content>
</ng-template>
