<div class="jms-file-upload-dropzone"
     jmsDropzone
     (hovered)="toggleHover($event)"
     (dropped)="filesUploaded($event)"
     [class.hovering]="isHovering">
</div>

<div class="jms-file-upload-content">
  <h6>{{cData.label}}</h6>

  <div>
    <p>Drop files here</p>
    <button mat-button *ngIf="cData.allowUrl" (click)="openUploadDialog()">Add image from URL</button>&nbsp;
    <button mat-button *ngIf="cData.allowServerUpload" (click)="openFileUpload()">Add images</button>
    <button mat-button *ngIf="cData.allowServerUpload" (click)="openSortImages()">Sort images</button>
  </div>

  <!--<div *ngFor="let file of files">-->
  <!--<upload-task [file]="file"></upload-task>-->
  <!--</div>-->

  <ng-container *ngIf="cData.control.value.length; else noValue">
    <p class="p-y-s fs-small fg-secondary">Uploads:</p>

    <div class="jms-file-upload-list" cdkDropListGroup>
      <div class="jms-file-upload-image-container" *ngFor="let val of cData.control.value; index as index" cdkDropList [cdkDropListData]="index" cdkDropListOrientation="vertical">
        <img class="jms-file-upload-image" [src]="(val.data || val) | jpSanitize:'resourceUrl'" cdkDrag cdkDragBoundary=".jms-file-upload-list" (cdkDragEntered)="entered($event)" (cdkDragEnded)="ended($event)" [cdkDragData]="index">
        <button class="jms-file-upload-remove-image" type="button" mat-icon-button matTooltip="Remove" color="warn" (click)="removeImage(index, val)">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>

  <!--No images-->
  <ng-template #noValue>
    <p class="p-y-m ta-center fg-secondary fs-small">No images added yet.</p>
  </ng-template>

  <!--Uplaod from URL-->
  <ng-template #modal>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput #url>
    </mat-form-field>

    <div class="ta-right">
      <button mat-button mat-dialog-close>Cancel</button>&nbsp;
      <button mat-flat-button color="primary" [disabled]="!url.value" (click)="addImage(url.value)" mat-dialog-close>Add image</button>
    </div>
  </ng-template>

  <!--Upload from disk-->
  <input #file type="file" multiple hidden (change)="filesUploaded($event.target)">

  <ng-template #imagesSort>
    <h6><span class="fs-small">Sort images</span></h6>

    <mat-dialog-content>
      <div class="jms-sort-dialog-container">
        <div
          class="jms-sort-dialog-element"
          *ngIf="cData.control.value.length; else noValue">
          <!--cdkDropList
            (cdkDropListDropped)="drop($event)"-->

          <div class="flex jc-between ai-center jms-sort-dialog-element" *ngFor="let val of cData.control.value; index as index; first as first; last as last;">
            <img class="sortImages p-y-s p-x-s" [src]="(val.data || val) | jpSanitize:'resourceUrl'">
            <div>
              <button mat-icon-button [disabled]="first" (click)="move(true, index)">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button mat-icon-button [disabled]="last" (click)="move(false, index)">
                <mat-icon>arrow_downward</mat-icon>
              </button>
              <!--<button mat-icon-button cdkDragHandle>
                <mat-icon>drag_indicator</mat-icon>
              </button>-->
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </ng-template>

</div>
