<p class="fs-small fg-secondary">{{cData.label}}</p>

<div class="jms-gallery">
  <div class="ta-center p-y-l">
    <button mat-button *ngIf="cData.allowUrl" (click)="openUploadDialog()">Enter URL</button>
    <button mat-button *ngIf="cData.allowServerUpload" (click)="openFileUpload()">Choose files</button>
    <button mat-button *ngIf="cData.allowServerUpload" (click)="openSortImages()">Sort images</button>
  </div>

  <!--<div *ngFor="let file of files">-->
  <!--<upload-task [file]="file"></upload-task>-->
  <!--</div>-->

  <!--Uplaod from URL-->
  <ng-template #modal>
    <mat-dialog-content>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Image URL</mat-label>
        <input matInput #url>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button mat-button mat-dialog-close>Cancel</button>&nbsp;
      <button mat-flat-button color="primary" [disabled]="!url.value" (click)="addImage(url.value)" mat-dialog-close>Add image</button>
    </mat-dialog-actions>
  </ng-template>

  <!--Upload from disk-->
  <input #file type="file" multiple hidden (change)="filesUploaded($event.target)">

  <!--Image sort-->
  <ng-template #imagesSort>
    <h1 mat-dialog-title>Sort images</h1>

    <mat-dialog-content *ngIf="cData.control.value.length">
      <div *ngFor="let val of cData.control.value; index as index; first as first; last as last;">
        <div class="flex ai-center">
          <img class="jms-gallery-sort-image" [src]="(val.data || val) | jpSanitize:'resourceUrl'">
          <div class="flex-1"></div>
          <div>
            <button mat-icon-button [disabled]="first" (click)="move(true, index)">
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-icon-button [disabled]="last" (click)="move(false, index)">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <hr class="m-y-s" *ngIf="!last">
      </div>
    </mat-dialog-content>
  </ng-template>

  <!--Uploaded images list-->
  <ng-container *ngIf="cData.control.value.length">
    <div class="jms-gallery-list">
      <div class="jms-gallery-list-image" *ngFor="let val of cData.control.value; index as index">
        <img class="jms-gallery-list-image-inner" [src]="(val.data || val) | jpSanitize:'resourceUrl'">
        <button class="jms-gallery-list-image-remove" type="button" mat-icon-button matTooltip="Remove" (click)="removeImage(index, val)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>

  <div class="jms-gallery-dropzone"
       jmsDropzone
       (hovered)="toggleHover($event)"
       (dropped)="filesUploaded($event)"
       [class.hovering]="isHovering">
  </div>
</div>
