<span class="hide-xs">
  <button mat-button (click)="openDialog()">
    <mat-icon>vertical_align_bottom</mat-icon>
    <span>{{'GENERAL.IMPORT' | transloco}}</span>
  </button>
</span>
<span class="show-xs">
  <button mat-icon-button (click)="openDialog()" [matTooltip]="'GENERAL.IMPORT' | transloco">
    <mat-icon>vertical_align_bottom</mat-icon>
  </button>
</span>

<input type="file" hidden #file (change)="selectFile($event)">

<ng-template #overview>
  <div *ngIf="data">
    <div *ngIf="data.created">
      <h4 mat-dialog-title>{{'GENERAL.SUCCESS' | transloco}}</h4>
      <p mat-dialog-content>{{'IMPORT.SUCCESS_MESSAGE' | transloco:{value: data.created} }}</p>
    </div>
    <div *ngIf="data.errors && data.errors.length">
      <h4 mat-dialog-title>{{'GENERAL.ERROR' | transloco}}</h4>
      <div mat-dialog-content>
        <div class="m-b-xs" *ngFor="let error of data.errors">
          <b>{{'IMPORT.PROBLEM_UPLOADING' | transloco}}: {{error.index}}</b>
          <pre>{{error.errors | json}}</pre>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="jc-end">
      <button mat-button mat-dialog-close>{{'GENERAL.OK' | transloco}}</button>
    </div>
  </div>
</ng-template>

<ng-template #dialog>
  <form [formGroup]="form" (ngSubmit)="file.click()">
    <mat-form-field class="w-full">
      <mat-label>{{'IMPORT.TYPE' | transloco}}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let option of importType | keyvalue" [value]="option.value">{{option.key}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full" *ngIf="form.get('type').value === importType.CSV">
      <mat-label>{{'IMPORT.DELIMITER' | transloco}}</mat-label>
      <input matInput formControlName="delimiter">
    </mat-form-field>

    <mat-dialog-actions class="jc-end">
      <button mat-button type="submit">
        <mat-icon>vertical_align_bottom</mat-icon>
        <span>{{'GENERAL.IMPORT' | transloco}}</span>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>
