 <div class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <mat-card>
        <h6 class="p-y-s">Change password</h6>
        <p class="m-b-xs">Do you wish to change your password?</p>

        <form [formGroup]="passwordForm">
          <mat-form-field class="col-12 p-r-xs" appearance="outline">
            <mat-label>Write your email here</mat-label>
            <input autocomplete="email" matInput formControlName="email">
          </mat-form-field>

          <ng-container formGroupName="pg">
            <mat-form-field class="col-12 p-r-xs" appearance="outline">
              <mat-label>New password</mat-label>
              <input autocomplete="new-password" matInput type="password" formControlName="password">
              <mat-error *ngIf="passwordForm.get('pg.password').invalid">
                Password must contain at least 6 characters
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 p-r-xs" appearance="outline">
              <mat-label>Repeat password</mat-label>
              <input autocomplete="new-password" matInput type="password" formControlName="repeatPassword">
            </mat-form-field>
          </ng-container>
        </form>
        <div class="ta-right">
          <button [disabled]="passwordForm.invalid" mat-button (click)="changePassword()">Change password</button>
        </div>
      </mat-card>
    </div>
  </div>
