<div [ngSwitch]="currentView">
  <!--Login dialog-->
  <ng-container *ngSwitchCase="view.LogIn">
    <!--Dialog header-->
    <div mat-dialog-title>
      <div class="flex ai-center jc-between">
        <h6>Login</h6>
        <button mat-icon-button tabindex="-1" (click)="dialogRef.close()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>

    <!--Social login-->
    <div>
      <div class="m-y-xs">
        <button
          id="btn-gLog"
          mat-raised-button
          class="w-full"
          (click)="logInWithGoogle()">
          Login with Google
        </button>
      </div>
      <div class="m-y-xs">
        <button
          id="btn-tLog"
          mat-raised-button
          class="w-full"
          (click)="logInWithTwitter()">
          Login with Twitter
        </button>
      </div>
      <div class="m-y-xs">
        <button
          id="btn-fLog"
          mat-raised-button
          class="w-full"
          (click)="logInWithFacebook()">
          Login with Facebook
        </button>
      </div>
    </div>

    <!--Divider-->
    <div class="m-t-m m-b-s">
      <mat-divider></mat-divider>
    </div>

    <!--Regular login-->
    <form [formGroup]="logInForm">
      <mat-form-field class="w-full mat-hint" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          type="email"
        />
      </mat-form-field>
      <mat-form-field class="w-full mat-hint" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          #password
          formControlName="password"
          matInput
          type="password"
        />
      </mat-form-field>
      <button
        id="btn-emLog"
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full"
        [disabled]="logInForm.invalid"
        (click)="loginWithEmail()">
        Login
      </button>
    </form>

    <!--Forgot password?-->
    <p class="ta-right fs-small c-d-secondary">
      <a class="link" (click)="toggleState(view.Reset)">
        Forgot your password?
      </a>
    </p>

    <!--Not a member?-->
    <p class="ta-center fs-small m-y-s">
      Not a member?&nbsp;
      <a class="link" (click)="toggleState(view.SignUp)">
        Join now
      </a>
    </p>
  </ng-container>

  <!--Signup dialog-->
  <ng-container *ngSwitchCase="view.SignUp">
    <!--Dialog header-->
    <div mat-dialog-title>
      <div class="flex ai-center jc-between">
        <h6>Sign Up</h6>
        <button mat-icon-button tabindex="-1" (click)="dialogRef.close()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>

    <!--Social login-->
    <div>
      <div class="m-y-xs">
        <button
          id="btn-gSig"
          mat-raised-button
          class="w-full"
          (click)="logInWithGoogle()"
        >
          Sign up with Google
        </button>
      </div>
      <div class="m-y-xs">
        <button
          id="btn-tSig"
          mat-raised-button
          class="w-full"
          (click)="logInWithTwitter()"
        >
          Sign up with Twitter
        </button>
      </div>
      <div class="m-y-xs">
        <button
          id="btn-fSig"
          mat-raised-button
          class="w-full"
          (click)="logInWithFacebook()"
        >
          Sign up with Facebook
        </button>
      </div>
    </div>

    <!--Divider-->
    <div class="m-t-m m-b-s">
      <mat-divider></mat-divider>
    </div>

    <!--Regular signUp-->
    <form [formGroup]="signUpForm">
      <mat-form-field class="w-full mat-hint" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          autofocus
          type="email"
          matInput
          formControlName="email"
        />
        <mat-error *ngIf="signUpForm.get('email').invalid">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
      <ng-container formGroupName="pg">
        <div>
          <mat-form-field class="w-full mat-hint" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              type="password"
            />
            <mat-error *ngIf="signUpForm.get('pg.password').invalid">
              Password must contain at least 6 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full mat-hint" appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              formControlName="repeatPassword"
              type="password"
            />
            <mat-error *ngIf="signUpForm.get('pg').hasError('equal')">
              {{signUpForm.get('pg').getError('equal')}}
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <button
        id="btn-emSgn"
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full"
        [disabled]="signUpForm.invalid"
        (click)="signUpWithEmail()">
        Sign up
      </button>
    </form>

    <!--Already a member?-->
    <p class="ta-center fs-small m-y-s">
      Already a member?&nbsp;
      <a class="link" (click)="toggleState(view.LogIn)">
        Login
      </a>
    </p>
  </ng-container>

  <!--Reset password dialog-->
  <ng-container *ngSwitchCase="view.Reset">
    <!--Dialog header-->
    <div mat-dialog-title>
      <div class="flex ai-center jc-between">
        <h6>Reset password</h6>
        <button mat-icon-button tabindex="-1" (click)="dialogRef.close()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>

    <!--Reset form-->
    <form>
      <mat-form-field class="w-full mat-hint" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          autofocus
          [formControl]="resetPasswordControl"
          type="email"
        />
        <mat-error *ngIf="resetPasswordControl.invalid">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
      <button
        id="btn-resPass"
        mat-raised-button
        color="primary"
        class="w-full"
        [disabled]="resetPasswordControl.invalid"
        (click)="resetPassword()">
        Send link and reset
      </button>
    </form>

    <!--Go back-->
    <p class="ta-center fs-small m-y-s">
      <a class="link" (click)="toggleState(view.LogIn)">
        Go back
      </a>
    </p>
  </ng-container>
</div>
