<div class="mat-form-field-wrapper">
  <fieldset class="jms-file">
    <input #file type="file" hidden (change)="fileChange($event)">

    <legend class="jms-file-legend">{{cData.label}}</legend>

    <div class="jms-file-field">
      <span class="jms-file-field-name">{{name || (emptyLabel | transloco)}}</span>

      <div class="jms-file-field-actions">
        <ng-container *ngIf="!cData.preventClear && name">
          <button mat-button (click)="clear()">{{'GENERAL.REMOVE' | transloco}}</button>|
        </ng-container>
        <button mat-button (click)="file.click()">{{'GENERAL.ADD' | transloco}}</button>
      </div>
    </div>
  </fieldset>
</div>
