<h6 class="m-b-s">Do you wish to remove your account?</h6>

<form [formGroup]="deleteForm">
  <p class="flex ai-center p-a-xs m-b-s bg-l-secondary fs-small">
    <mat-icon color="warn">warning</mat-icon>
    <span class="c-warn">&nbsp;This action is irreversible.</span>
  </p>
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Your email</mat-label>
    <input
      formControlName="emailConfirmControl"
      matInput
      type="email"
    />
  </mat-form-field>
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Type "discombobulate" to confirm</mat-label>
    <input
      formControlName="wordDelete"
      matInput
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Why are you removing your account? (optional)</mat-label>
    <mat-select>
      <mat-option>I don't like this website.</mat-option>
      <mat-option>I couldn't find a product.</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="ta-right">
  <button mat-button (click)="closeDeleteDialog()">Cancel</button>
  &nbsp;
  <button
    [disabled]="deleteForm.invalid"
    mat-flat-button
    color="warn"
    (click)="permaDeleteUser()"
  >
    Remove account
  </button>
</div>
