@import "../../../../scss/variables";

:host::ng-deep .tox-tinymce {
  border-radius: 4px;
  transition: .2s;
  border-color: $fg-d-quaternary;
  padding-top: 10px;
  margin-top: -18px;
}

:host:hover::ng-deep .tox-tinymce {
  border-color: $fg-d-primary;
  box-shadow: 0 0 0 1px $fg-d-primary;
}

:host.active::ng-deep .tox-tinymce {
  border-color: var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
}
