<section class="bg-primary p-y-xl c-l-primary ta-center">
  <h1 class="m-b-xs">Jaspero Fireshop</h1>
  <p class="m-b-m">It's easy and it works well.</p>
  <a id="a-browse-shop-0" routerLink="/shop" mat-raised-button>Browse shop</a>
</section>

<section class="p-y-xl">
  <div class="grid m-b-l">
    <div class="col-4 col-m-6 col-s-8 col-xs-10">
      <div class="ta-center">
        <img
          src="assets/images/loading.svg"
          jpPreload="assets/images/example-build.svg"
          alt="Sample"
          width="250"
        />
      </div>
    </div>
    <div class="col-4 col-m-6 col-s-8 col-xs-10">
      <div class="flex fd-col jc-center h-full">
        <h3 class="m-b-m">Ready and easy to use.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
  <div class="grid m-b-l">
    <div class="col-4 col-m-6 col-s-8 col-xs-10">
      <div class="ta-center">
        <img
          src="assets/images/loading.svg"
          jpPreload="assets/images/example-checkout.svg"
          alt="Sample"
          width="250"
        />
      </div>
    </div>
    <div class="col-4 col-m-6 col-s-8 col-xs-10">
      <div class="flex fd-col jc-center h-full">
        <h3 class="m-b-m">Fast and simple checkout</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
  <div class="grid m-b-l">
    <div class="col-4 col-m-6 col-s-8 col-xs-10">
      <div class="ta-center">
        <img
          src="assets/images/loading.svg"
          jpPreload="assets/images/example-responsive.svg"
          alt="Sample"
          width="300"
        />
      </div>
    </div>
    <div class="col-4 col-m-6 col-s-8 col-xs-10">
      <div class="flex fd-col jc-center h-full">
        <h3 class="m-b-m">Optimised for all devices</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
  <div class="ta-center">
    <a id="a-browse-shop-1" routerLink="/shop" mat-raised-button>Browse shop</a>
  </div>
</section>

<footer class="bg-primary c-l-primary p-y-s">
  <div class="grid">
    <div class="col-12">
      <div class="flex jc-between">
        <p class="fs-small">© {{year}} Jaspero Fireshop</p>
        <p class="fs-small">
          By
          <a
            href="https://jaspero.co/"
            class="link"
            target="_blank"
            rel="noopener">
            Jaspero
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
