<form *ngIf="form" [formGroup]="form">
  <section>
    <mat-toolbar color="primary">
      <a mat-icon-button routerLink="/products" aria-label="Back" matTooltip="Back">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span>Products</span>
    </mat-toolbar>
  </section>

  <section class="p-y-m">
    <div class="grid">
      <div class="col-12" [ngSwitch]="currentState">
        <ng-container *ngSwitchCase="viewState.Edit">
          <div class="flex ai-center jc-between">
            <h5>{{form.get('name').value}}</h5>
            <div>
              <button mat-icon-button aria-label="Previous product" matTooltip="Previous product" (click)="move(false, form)">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <button mat-icon-button aria-label="Next product" matTooltip="Next product" (click)="move(true, form)">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
          <button mat-button (click)="duplicate(form)">
            <mat-icon>filter_none</mat-icon>
            <span>&nbsp;Duplicate</span>
          </button>
          <button mat-button (click)="view(form)">
            <mat-icon>visibility</mat-icon>
            <span>&nbsp;View</span>
          </button>
        </ng-container>

        <h5 *ngSwitchCase="viewState.New">New Product</h5>

        <h5 *ngSwitchCase="viewState.Copy">Copy of {{form.get('name').value}}</h5>

      </div>
    </div>

    <div class="grid grid-no-gutter">
      <div class="col-8 col-s-10 col-xs-12">
        <div class="grid">
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Product info</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" />
                </mat-form-field>
              </div>
              <div class="p-y-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Short description</mat-label>
                  <input matInput formControlName="shortDescription">
                </mat-form-field>
              </div>
              <div class="p-y-xs">
                <p class="jfsc-wysiwyg-label">Detailed description</p>
                <jfsc-wysiwyg formControlName="description"></jfsc-wysiwyg>
              </div>
            </mat-card>
          </div>

          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Images</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <jfsc-gallery-upload formControlName="gallery"></jfsc-gallery-upload>
              </div>
            </mat-card>
          </div>

          <div class="col-12">
            <mat-card>
              <div class="p-y-xs flex jc-between ai-center">
                <h6>Description Variants</h6>
                <button mat-button color="primary" (click)="addAttribute()">New attribute</button>
              </div>

              <div formArrayName="attributes">
                <div *ngFor="let attribute of attributesForms.controls; index as attributeIndex" [formGroupName]="attributeIndex">
                  <div class="p-b-xs">
                    <mat-divider></mat-divider>
                  </div>

                  <mat-form-field appearance="outline">
                    <mat-label>Key</mat-label>
                    <input matInput formControlName="key">
                    <mat-icon class="cs-pointer" matSuffix (click)="deleteAttribute(attributeIndex)">cancel</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-full">
                    <mat-chip-list #chipList>
                      <mat-chip
                        *ngFor="let items of attribute.get('list').value; index as valueIndex"
                        [selectable]="true"
                        (removed)="removeAttributeValue(attributeIndex, valueIndex, items)">
                        {{items}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="Add attribute"
                        [matChipInputFor]="chipList"
                        [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="addAttributeValue($event, attributeIndex)">
                    </mat-chip-list>
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>

          <div class="col-12" *ngIf="inventoryKeys.length">
            <mat-card>
              <div class="p-y-xs flex jc-between ai-center">
                <h6>Items in stock</h6>

                <p class="flex fd-col ai-end">
                  <span class="fs-small c-d-secondary">Default</span>
                  <span [innerHtml]="labelFormat(form.get('default').value)"></span>
                </p>
              </div>

              <mat-radio-group formControlName="default">
                <div formGroupName="inventory">
                  <div *ngFor="let item of inventoryKeys; index as i" [formGroupName]="item">
                    <div class="p-b-xs">
                      <mat-divider></mat-divider>
                    </div>
                    <p class="m-b-xs fw-bold" [innerHtml]="labelFormat(item)"></p>

                    <mat-form-field class="m-r-xs" appearance="outline">
                      <mat-label>Items in stock</mat-label>
                      <input type="number" matInput formControlName="quantity">
                    </mat-form-field>

                    <mat-form-field class="m-r-xs" appearance="outline">
                      <mat-label>Price</mat-label>
                      <span matPrefix>{{currency}}&nbsp;</span>
                      <input formControlName="price" matInput type="number">
                    </mat-form-field>

                    <mat-radio-button [value]="item"><span class="c-d-secondary">Default</span></mat-radio-button>
                  </div>
              </div>
              </mat-radio-group>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="col-4 col-s-10 col-xs-12">
        <div class="grid">
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Pricing</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Price</mat-label>
                  <span matPrefix>{{currency}}&nbsp;</span>
                  <input formControlName="price" matInput type="number">
                </mat-form-field>
              </div>
            </mat-card>
          </div>
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Availability</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <mat-checkbox color="primary" formControlName="active">Active</mat-checkbox>
              </div>
              <div class="p-y-xs">
                <mat-checkbox color="primary" formControlName="showingQuantity">Show quantity</mat-checkbox>
              </div>
              <div class="p-y-xs">
                <mat-checkbox color="primary" formControlName="allowOutOfQuantityPurchase">Allow out of quantity purchase</mat-checkbox>
              </div>
              <div class="p-y-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Items in stock</mat-label>
                  <input matInput type="number"  formControlName="quantity">
                </mat-form-field>
              </div>
            </mat-card>
          </div>
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Organization</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <mat-form-field appearance="outline" class="w-full mat-hint">
                  <mat-label>URL</mat-label>
                  <input matInput formControlName="id" />
                  <mat-error *ngIf="form.get('id').invalid">Only lowercase letters dashes and underscores are allowed</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Category</mat-label>
                  <mat-select formControlName="category">
                    <mat-option
                      *ngFor="let category of categories$ | async"
                      [value]="category.id">
                      {{category.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Sale</mat-label>
                  <mat-select formControlName="sale">
                    <mat-option
                      *ngFor="let sale of sales$ | async"
                      [value]="sale.id">
                      {{sale.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="jfsc-actions-header">
    <button
      type="button"
      tabindex="-1"
      mat-flat-button
      color="primary"
      (click)="back()">
      {{currentState === viewState.Edit ? 'Discard changes' : 'Cancel'}}
    </button> &nbsp;

    <button
      mat-flat-button
      type="submit"
      [disabled]="form.invalid"
      fDisable
      [jpLoadClick]="save()">
      {{currentState === viewState.Edit ? 'Save changes' : 'Save'}}
    </button>
  </div>
</form>
