@import "../breakpoints";

/**
 * Material Design components for Angular
 *
 * Style overrides for Angular Material. Original elements:
 * https://material.angular.io/
 *
 *============================================================================*/



/* Buttons
 *============================================================================*/

// Ripple color adjustment
.mat-flat-button.mat-primary .mat-ripple-element,
.mat-raised-button.mat-primary .mat-ripple-element,
.mat-fab.mat-primary .mat-ripple-element,
.mat-mini-fab.mat-primary .mat-ripple-element {
  background-color: rgba(255,255,255,.15);
}



/* Form field
 *============================================================================*/

.mat-form-field {
  font-size: 13px;
}

// 'mat-form-field-has-hint' custom class for extra white space after hint
.mat-form-field-has-hint {
  margin-bottom: 1.25em;
}

// 'mat-form-field-no-hint' custom class for no white space
.mat-form-field-no-hint > .mat-form-field-wrapper {
  padding-bottom: 0;
}

// 'mat-form-field-small' custom class for smaller form fields
.mat-form-field.mat-form-field-small .mat-form-field-infix {
  width: 90px;
}

// 'mat-form-field-large' custom class for larger form fields
.mat-form-field.mat-form-field-large .mat-form-field-infix {
  width: 240px;
}




/* Toolbar
 *============================================================================*/

.mat-toolbar-row.mat-toolbar-row,
.mat-toolbar-single-row.mat-toolbar-single-row {
  height: 64px;
}



/* Table
 *============================================================================*/

.mat-table.mat-table {
  width: 100%;
  background: transparent;
}

.mat-row:nth-last-child(1) > .mat-cell {
  border-bottom: none;
}



/* Snackbar
 *============================================================================*/

.mat-snack-bar-container {
  background: var(--primary-theme);
  color: var(--primary-secondary);

  .mat-simple-snackbar-action {
    color: var(--primary-primary);
  }
}

.mat-snack-bar-container.snack-bar-error {
  background: var(--warn-theme);
  color: var(--warn-secondary);

  .mat-simple-snackbar-action {
    color: var(--warn-primary);
  }
}



/* Card
 *============================================================================*/

.mat-card {
  --theme    : var(--panel-theme);
  --primary  : var(--panel-primary);
  --secondary: var(--panel-secondary);
  --tertiary : var(--panel-tertiary );
}
.mat-card.mat-card {
  box-shadow: 0 0 0 1px var(--panel-tertiary);
  background: var(--panel-theme);
  color: var(--panel-primary);
}

.mat-card-header.mat-card-header {
  margin-top: -16px !important;
  margin-right: -16px;
  margin-bottom: 16px;
  margin-left: -16px;
  padding: 16px;
  border-bottom: 1px solid var(--panel-tertiary);
  align-items: center;
}

.mat-card-header-text.mat-card-header-text {
  margin: 0;
}

.mat-card-actions.mat-card-actions {
  margin-top: 16px !important;
  margin-right: -16px;
  margin-bottom: -16px;
  margin-left: -16px;
  padding: 16px;
  border-top: 1px solid var(--panel-tertiary);
}

.mat-card-content.mat-card-content-inset {
  margin-top: -16px;
  margin-right: -16px;
  margin-bottom: -16px !important;
  margin-left: -16px;
}
