<section class="primary bg p-x-s p-y-m flex jc-between ai-center">
  <h6>Dashboard</h6>
  <button mat-flat-button>Do something</button>
</section>

<section class="grid">
  <div class="col-8 col-s-12">
    <mat-card>
      <p class="p-b-xl">Dashboard</p>
    </mat-card>
  </div>
  <div class="col-4 col-s-12">
    <mat-card>
      <p class="p-b-xl">Dashboard</p>
    </mat-card>
  </div>
  <div class="col-4 col-s-12">
    <mat-card>
      <p class="p-b-xl">Dashboard</p>
    </mat-card>
  </div>
  <div class="col-8 col-s-12">
    <mat-card>
      <p class="p-b-xl">Dashboard</p>
    </mat-card>
  </div>
</section>
