<ng-container *ngIf="(cart.items$ | async) as prod">
  <!--Cart (non-empty state)-->
  <ng-container *ngIf="prod.length; else emptyCart">
    <mat-list>
      <mat-list-item *ngFor="let product of prod">
        <img matListAvatar src="{{ product.image }}" alt="{{ product.name }}" />
        <h4
          class="link"
          mat-line
          (click)="navigate(product.productId); closeDialog()"
        >
          {{ product.name }}
        </h4>
        <p mat-line>{{ product.price | sp }}</p>
        <p mat-line>
          <button
            id="btn-dec"
            tabindex="-1"
            class="jfs-cart-quantity-button"
            matTooltip="Decrease"
            [disabled]="product.quantity === 1"
            (click)="cart.changeNumber(product.productId, -1)"
          >
            -
          </button>
          <span>&nbsp;{{ product.quantity }}&nbsp;</span>
          <button
            id="btn-inc"
            tabindex="-1"
            class="jfs-cart-quantity-button"
            matTooltip="Increase"
            (click)="cart.changeNumber(product.productId, 1)"
            (mousedown)="disabled = false"
            (mouseup)="disabled = false"
          >
            +
          </button>
        </p>
        <button
          id="btn-rem-all"
          mat-icon-button
          tabindex="-1"
          matTooltip="Remove"
          (click)="cart.remove(product.productId)"
          aria-label="Remove"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <div class="m-y-s">
      <mat-divider></mat-divider>
    </div>

    <div class="flex jc-between ai-end p-x-xs">
      <div>
        <p class="fs-small">Total</p>
        <h6>{{ cart.totalPrice$ | async | sp }}</h6>
      </div>
      <button
        id="btn-checkout"
        mat-flat-button
        color="primary"
        [disabled]="loader"
        (click)="checkOut()"
      >
        Checkout
      </button>
    </div>
  </ng-container>

  <!--Empty state-->
  <ng-template #emptyCart>
    <div class="p-y-s ta-center">
      <mat-icon>shopping_cart</mat-icon>
      <p>Your cart is empty.</p>
    </div>
  </ng-template>
</ng-container>
