/**
 * Generic
 *
 * Style for generic & low-spec HTML elements.
 *
 *============================================================================*/



/* HTML
 *============================================================================*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-primary);
}



/* Headings
 *============================================================================*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }



/* Horizontal rule
 *============================================================================*/

hr {
  border-top: 1px solid rgba(0,0,0,.12);
  border-right: none;
  border-bottom: none;
  border-left: none;

  &[aria-hidden="true"] {
    border-top: none;
  }
}
