.jfsc-layout-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 0 16px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.jfsc-layout-main {
  padding-top: 64px; // Header height
}

.mat-menu-item.active {
  font-weight: bold;
  color: var(--primary);
}
