<!--Layout navigation-->
<header class="jfsc-layout-header bg-primary flex ai-center">

  <!--Desktop navigation-->
  <div class="hide-s">
    <a *ngFor="let link of links"
       mat-flat-button
       color="primary"
       matTooltipPosition="right"
       [routerLink]="[link.value]">
      {{link.label}}
    </a>
  </div>

  <!--Mobile navigation-->
  <div class="show-s">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="mainMenu" aria-label="Menu" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <a *ngFor="let link of links"
         mat-menu-item
         [routerLink]="[link.value]"
         routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
        <span>{{link.label}}</span>
      </a>
    </mat-menu>
  </div>

  <!--Divider-->
  <div class="f1"></div>

  <!--Language-->
  <ng-container *ngIf="state.language$ | async as language">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="language">
      {{languageName$ | async}}
    </button>
    <mat-menu #language="matMenu">
      <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang.value)">
        <mat-icon *ngIf="language === lang.value">done</mat-icon>
        <span>{{lang.label}}</span>
      </button>
    </mat-menu>
  </ng-container>

  <!--Settings-->
  <button mat-flat-button color="primary" [matMenuTriggerFor]="settings" aria-label="Settings" matTooltip="Settings">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #settings="matMenu">
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openLogout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</header>


<!--Layout main-->
<main class="jfsc-layout-main">
  <router-outlet></router-outlet>
</main>

<!--Logout dialog-->
<ng-template #logoutDialog>
  <h6 mat-dialog-title>Are you sure you want to logout?</h6>
  <div mat-dialog-actions>
    <div class="ta-right w-full">
      <button mat-button mat-dialog-close tabindex="-1">Cancel</button>&nbsp;
      <button mat-flat-button mat-dialog-close (click)="logout()" color="primary">
        Logout
      </button>
    </div>
  </div>
</ng-template>
