<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{cData.label}}</mat-label>
  <input
    matInput
    [placeholder]="cData['placeholder']"
    type="url"
    [class.disabled]="disInput"
    [formControl]="imageUrl">
  <div matSuffix class="jms-image-suffix">
    <ng-container *ngIf="imageUrl.value">
      <div class="jms-image-suffix-preview">
        <button class="jms-image-suffix-preview-button" mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
        <img class="jms-image-suffix-preview-image" [attr.src]="imageSrc || imageUrl.value || value" [alt]="'FIELDS.IMAGE.PREVIEW' | transloco">
      </div>
    </ng-container>
    <button mat-icon-button *ngIf="!imageUrl.value && !cData['preventServerUpload']">
      <mat-icon (click)="openFileUpload()">perm_media</mat-icon>
    </button>
    <button mat-icon-button *ngIf="imageUrl.value">
      <mat-icon (click)="remove()">highlight_off</mat-icon>
    </button>
  </div>
</mat-form-field>

<input #file type="file" hidden (change)="filesImage($event.target)">
