.jms-image-suffix {
  display: flex;

  &-preview {
    display: inline-block;
    position: relative;

    &-image {
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 0;
      width: 200px;
      height: 200px;
      max-width: unset;
      object-fit: contain;
      background: white;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
      visibility: hidden;
      opacity: 0;
      transition: .2s;
    }

    &-button:hover + &-image {
      visibility: visible;
      opacity: 1;
    }
  }
}
