/**
 * Variables
 *
 * @import this file to use its features.
 *
 *============================================================================*/

/* Main colors
 *============================================================================*/

$primary: #3f51b5;
$accent: #ff4081;
$warn: #dc143c;

/* Background colors
 *============================================================================*/

// Light:
$bg-l-primary: #fafafa;
$bg-l-secondary: #f0f2f5;

// Dark:
$bg-d-primary: #37474f;
$bg-d-secondary: #102027;

/* Foreground colors
 *============================================================================*/

// Light:
$fg-l-primary: rgba(255, 255, 255, 1);
$fg-l-secondary: rgba(255, 255, 255, .7);
$fg-l-tertiary: rgba(255, 255, 255, .5);
$fg-l-quaternary: rgba(255, 255, 255, .12);
// Dark:
$fg-d-primary: rgba(0, 0, 0, .87);
$fg-d-secondary: rgba(0, 0, 0, .54);
$fg-d-tertiary: rgba(0, 0, 0, .42);
$fg-d-quaternary: rgba(0, 0, 0, .12);

/* Fonts
 *============================================================================*/

$font-primary: 'Roboto', sans-serif;

/* @media breakpoints
 *============================================================================*/
/**
 * Phone           :    0px - 600px
 * Tablet portrait :  600px - 900px
 * Tablet landscape:  900px - 1200px
 * Desktop         : 1200px - 1800px
 * Large desktop   : 1800px +
 *
 * Source:
 * medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
 */

$screen-xs: 600px;
$screen-s: 900px;
$screen-m: 1200px;
$screen-l: 1800px;
