<ng-container *ngIf="segment.title || segment.subTitle">
  <h4 *ngIf="segment.title">{{segment.title}}</h4>
  <h5 *ngIf="segment.subTitle">{{segment.subTitle}}</h5>
  <div class="p-y-m">
    <mat-divider></mat-divider>
  </div>
</ng-container>

<p *ngIf="segment.description">{{segment.description}}</p>

<mat-tab-group>
  <mat-tab [label]="tab.title" *ngFor="let tab of tabs">
    <ng-container *ngFor="let field of tab.fields | showField:sData.parser">
      <ng-template [cdkPortalOutlet]="field.portal"></ng-template>
    </ng-container>

    <ng-container *ngFor="let nested of tab.nestedSegments">
      <ng-template [cdkPortalOutlet]="nested.component"></ng-template>
    </ng-container>
  </mat-tab>
</mat-tab-group>
