<form *ngIf="form" [formGroup]="form">

  <section>
    <mat-toolbar color="primary">
      <a mat-icon-button routerLink="/customers" aria-label="Back" matTooltip="Back">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span>Customers</span>
    </mat-toolbar>
  </section>

  <section class="p-y-m">
    <div class="grid">
      <div class="col-8">
        <h5>New customer</h5>
      </div>
    </div>
  </section>

  <div class="grid grid-no-gutter">
    <div class="col-8 col-s-10 col-xs-12">
      <div>
        <div class="gird">
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Customer info</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <h6 class="p-y-s">Personal information</h6>
              <div class="p-y-xs">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="tel" formControlName="fullName">
                </mat-form-field>
              </div>
              <div class="p-y-xs">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option *ngFor="let gen of genders" [value]="gen">{{gen}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="p-y-xs">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Tell us about yourself</mat-label>
                  <textarea matInput formControlName="bio"></textarea>
                </mat-form-field>
              </div>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <h6 class="m-b-xs m-t-s">Billing info</h6>
              <ng-container formGroupName="billing">
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="tel" formControlName="firstName">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="tel" formControlName="email">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput type="tel" formControlName="city">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Zip</mat-label>
                    <input matInput formControlName="zip">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput type="tel" formControlName="country">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Billing Address</mat-label>
                    <input matInput formControlName="line1">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Billing Address</mat-label>
                    <input matInput type="tel" formControlName="line2">
                  </mat-form-field>
                </div>
              </ng-container>
              <h6 class="m-b-xs m-t-s">Shipping info</h6>
              <ng-container formGroupName="shipping" *ngIf="form.get('shipping')">
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="tel" formControlName="firstName">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="tel" formControlName="email">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput type="tel" formControlName="city">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Zip</mat-label>
                    <input matInput formControlName="zip">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput type="tel" formControlName="country">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Billing Address</mat-label>
                    <input matInput formControlName="line1">
                  </mat-form-field>
                </div>
                <div class="p-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Billing Address</mat-label>
                    <input matInput type="tel" formControlName="line2">
                  </mat-form-field>
                </div>
              </ng-container>
              <mat-checkbox color="primary" formControlName="shippingInfo">My shipping address is same as my billing address</mat-checkbox>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jfsc-actions-header">
    <button
      mat-flat-button
      color="primary"
      (click)="back()">
      {{isEdit ? 'Discard changes' : 'Cancel'}}
    </button> &nbsp;

    <button
      mat-flat-button
      type="submit"
      [disabled]="form.invalid"
      [jpLoadClick]="save()">
      {{isEdit ? 'Save changes' : 'Save'}}
    </button>
  </div>
</form>
