<section>
  <div class="grid">
    <div class="col-12">
      <p>Your gift cards</p>
      <ng-container *ngIf="giftCardsInstances$ | async as giftCardInstances">
        <div *ngFor="let gCrdInst of giftCardInstances">
          <mat-card>
            <p>{{gCrdInst.giftCardId}}</p>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>
</section>


<div class="grid">
  <div class="col-12">
    <button mat-button (click)="dialogBuyOpen()">
      Buy gift card
    </button>
    <button mat-button (click)="dialogApplyOpen()">
      Apply gift card
    </button>
  </div>
</div>

<ng-template #giftTemplate>
  List of gift cards you can buy
  <div *ngIf="giftCards$ | async as giftCard">

    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Value</mat-label>
        <mat-select formControlName="giftCardId">
          <mat-option [value]="gc.id" *ngFor="let gc of giftCard">
            {{gc.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field  appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <br>

      <mat-form-field  appearance="outline">
        <mat-label>Credit card</mat-label>
        <input matInput formControlName="creditCard">
      </mat-form-field>

      <button mat-button (click)="buy()">
        Buy
      </button>

    </form>
  </div>
</ng-template>

<ng-template #applyTemplate>
  <mat-form-field appearance="outline">
    <mat-label>Code</mat-label>
    <input matInput [formControl]="code">
  </mat-form-field>

  <button mat-button (click)="apply()">
    Apply
  </button>

</ng-template>
