<section class="grid p-y-l">
  <div class="col-4 col-m-5 col-s-8 col-xs-12">
    <mat-card>
      <h6 class="m-b-l p-t-m ta-center">{{staticConfig.displayName}} {{'RESET_PASSWORD.PASSWORD_RESET' | transloco}}</h6>
      <form>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>{{'GENERAL.EMAIL' | transloco}}</mat-label>
          <input
            [formControl]="resetControl"
            type="email"
            matInput
          />
          <mat-error *ngIf="resetControl.dirty">{{'RESET_PASSWORD.EMAIL_DOESNT_EXIST' | transloco}}</mat-error>
        </mat-form-field>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          class="w-full"
          [disabled]="resetControl.invalid"
          (click)="reset()">
          {{'RESET_PASSWORD.RESET_MY_PASSWORD' | transloco}}
        </button>
      </form>
      <a routerLink="/login" class="block ta-center fs-small fg-secondary p-t-s">
        {{'RESET_PASSWORD.GO_BACK' | transloco}}
      </a>
    </mat-card>
  </div>
</section>
