.color-picker {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  padding: 24px;
}

button[mat-fab] {
  position: relative;
  z-index: 1;
}

button[mat-mini-fab] {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  opacity: 0;
  transition: .4s;
}

.color-picker.active {
  & > button[mat-mini-fab] {
    opacity: 1;
  }
  & > .color-picker-one {
    transform: translate(0, -80px);
  }
  & > .color-picker-two {
    transform: translate(-40px, -70px);
  }
  & > .color-picker-three {
    transform: translate(-70px, -40px);
  }
  & > .color-picker-four {
    transform: translate(-80px, 0);
  }
}
