<section (jpClickOutside)="toggle()" [clickOutsideBlock]="!open">
  <div class="color-picker" [class.active]="open">
    <button mat-fab color="primary" aria-label="Color picker" (jpStopPropagation)="toggle()">
      <mat-icon>color_lens</mat-icon>
    </button>
    <button
      *ngFor="let theme of themes"
      [ngClass]="'color-picker-' + theme.class"
      mat-mini-fab
      [attr.aria-label]="theme.label"
      [class.active]="theme.active"
      [style.background-color]="theme.primary"
      (click)="select(theme)"></button>
  </div>
</section>
