<section>
  <div class="color-picker" [class.active]="colorPicker">
    <button mat-fab color="primary" aria-label="Color picker" (click)="openColorPicker()">
      <mat-icon>color_lens</mat-icon>
    </button>
    <button class="color-picker-one" mat-mini-fab aria-label="Theme one" style="background-color: #3f51b5;"></button>
    <button class="color-picker-two" mat-mini-fab aria-label="Theme two" style="background-color: #37474f;"></button>
    <button class="color-picker-three" mat-mini-fab aria-label="Theme three" style="background-color: #673ab7;"></button>
    <button class="color-picker-four" mat-mini-fab aria-label="Theme four" style="background-color: #8d6e63;"></button>
  </div>
</section>
