<section class="p-y-l">
  <div class="grid">
    <div class="col-4 col-m-5 col-s-8 col-xs-12">
      <mat-card>
        <h6 class="ta-center p-y-s">Reset password</h6>

        <mat-form-field class="w-full mat-hint">
          <input
            [formControl]="resetControl"
            type="email"
            matInput
            placeholder="Your email address"
          />
          <mat-error>Email doesn't exist</mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="w-full"
          [disabled]="resetControl.invalid"
          (click)="reset()">
          Send link and reset
        </button>

        <!--Forgot password?-->
        <p class="ta-center fs-small c-d-secondary p-t-s">
          <a routerLink="/login" class="link">
            Go back
          </a>
        </p>
      </mat-card>
    </div>
  </div>
</section>
