<mat-form-field class="w-full" appearance="outline">
  <mat-label>{{cData.label}}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let chip of data"
      [selectable]="cData.selectable"
      [removable]="removable"
      (removed)="remove(chip)"
    >
      {{chip}}
      <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      matInput
      (matChipInputTokenEnd)="add($event)"
      [matChipInputFor]="chipList">
  </mat-chip-list>
</mat-form-field>
