<section class="grid p-y-l">
  <div class="col-4 col-m-5 col-s-8 col-xs-12">
    <mat-card>
      <h6 class="m-b-l p-t-m ta-center">Schema Forms</h6>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          [formControl]="resetControl"
          type="email"
          matInput
        />
        <mat-error>Email doesn't exist</mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        class="w-full"
        [disabled]="resetControl.invalid"
        (click)="reset()">
        Reset my password
      </button>
      <a routerLink="/login" class="block ta-center fs-small fg-secondary p-t-s">
        Go back
      </a>
    </mat-card>
  </div>
</section>
