@import "../../../../scss/breakpoints";

/**
 * Dashboard layout
 *
 * Styles for:
 *   - Dashboard navigation container,
 *   - Various navigation items,
 *   - Dashboard main content container.
 *
 *============================================================================*/



/* Navigation container
 *============================================================================*/

.dashboard-nav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  box-shadow: 0 0 6px 0 rgba(132,146,166,.2);

  @media (max-width: $screen-m) {
    width: 56px;
    transition: .4s;

    &.dashboard-nav-expanded {
      width: 256px;
    }
  }
}



/* Navigation welcome section
 *============================================================================*/

.dashboard-nav-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 128px;
  min-height: 128px;
  padding-left: 24px;
  border-bottom: 1px solid rgba(0,0,0,.12);

  @media (max-width: $screen-m) {
    height: 64px;
    min-height: 64px;
    padding-left: 16px;
  }

  &-logo {
    @media (max-width: $screen-m) {
      display: none;
    }
  }

  &-user {
    font-size: .85em;
    margin-top: .5em;

    @media (max-width: $screen-m) {
      display: none;
    }
  }

  &-menu {
    display: none;
    cursor: pointer;

    @media (max-width: $screen-m) {
      display: block;
    }
  }
}



/* Navigation main items
 *============================================================================*/

.dashboard-nav-item {
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 64px;
  min-height: 64px;
  padding-left: 24px;
  border-right: 3px solid transparent;
  transition: .2s;

  @media (max-width: $screen-m) {
    padding-left: 16px;
  }

  &.active {
    background: rgba(30,50,73,.04);
    border-right: 3px solid var(--primary-theme);
  }

  &:hover {
    background: rgba(30,50,73,.03);
  }

  &-icon {
    min-width: 24px;
  }

  &-text {
    margin-left: 16px;
  }
}



/* Navigation footer items
 *============================================================================*/

.dashboard-nav-footer {
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 30px;
  min-height: 30px;
  padding-left: 24px;
  border-top: 1px solid rgba(0,0,0,.12);
  color: var(--secondary);
  transition: .2s;

  @media (max-width: $screen-m) {
    padding-left: 16px;
  }

  &:hover {
    background: rgba(30,50,73,.03);
  }

  &-icon {
    min-width: 24px;
    font-size: .85em;
  }

  &-text {
    font-size: .85em;
    margin-left: 16px;
  }
}



/* Dashboard main content container
 *============================================================================*/

.dashboard-main {
  padding-left: 256px;

  @media (max-width: $screen-m) {
    padding-left: 56px;
  }
}
