<nav class="dashboard-nav" [class.dashboard-nav-expanded]="navigationExpanded">
  <section class="dashboard-nav-welcome">
    <!--<img class="dashboard-nav-welcome-logo" src="assets/logo.svg" alt="Logo" width="60">-->
    <h1 class="dashboard-nav-welcome-logo">{{staticConfig.displayName}}</h1>
    <p *ngIf="currentUser$ | async as user" class="dashboard-nav-welcome-user">{{user.email}}</p>
    <mat-icon class="dashboard-nav-welcome-menu" role="button" [attr.aria-label]="'LAYOUT.MENU' | transloco" (click)="toggleMenu()">menu</mat-icon>
  </section>

  <div class="dashboard-nav-scrollable">
    <a class="dashboard-nav-item" routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()">
      <mat-icon aria-hidden="true" class="dashboard-nav-item-icon">dashboard</mat-icon>
      <span class="dashboard-nav-item-text">{{'LAYOUT.DASHBOARD' | transloco}}</span>
    </a>

    <a
      class="dashboard-nav-item"
      *ngFor="let item of links$ | async"
      [routerLink]="item.link"
      routerLinkActive="active"
      (click)="closeMenu()">
      <mat-icon aria-hidden="true" class="dashboard-nav-item-icon">{{item.icon}}</mat-icon>
      <span class="dashboard-nav-item-text">{{item.name}}</span>
    </a>

    <a class="dashboard-nav-item" routerLink="/module-definition/overview" routerLinkActive="active" (click)="closeMenu()">
      <mat-icon aria-hidden="true" class="dashboard-nav-item-icon">view_module</mat-icon>
      <span class="dashboard-nav-item-text">{{'LAYOUT.MODULES' | transloco}}</span>
    </a>

    <a class="dashboard-nav-item" routerLink="/settings" routerLinkActive="active" (click)="closeMenu()">
      <mat-icon aria-hidden="true" class="dashboard-nav-item-icon">settings</mat-icon>
      <span class="dashboard-nav-item-text">{{'LAYOUT.SETTINGS' | transloco}}</span>
    </a>
  </div>

  <a class="dashboard-nav-footer" (click)="logOut()">
    <mat-icon aria-hidden="true" class="dashboard-nav-footer-icon">power_settings_new</mat-icon>
    <span class="dashboard-nav-footer-text">{{'LAYOUT.LOG_OUT' | transloco}}</span>
  </a>
</nav>

<main class="dashboard-main">
  <router-outlet></router-outlet>
</main>
