<ng-container *ngIf="segment.title || segment.subTitle">
  <h4 *ngIf="segment.title">{{segment.title}}</h4>
  <h5 *ngIf="segment.subTitle">{{segment.subTitle}}</h5>
  <div class="p-y-m">
    <mat-divider></mat-divider>
  </div>
</ng-container>

<p *ngIf="segment.description">{{segment.description}}</p>

<mat-accordion>
  <mat-expansion-panel *ngFor="let accord of accordions" [expanded]="accord.expanded || false">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="accord.title">{{accord.title}}</mat-panel-title>
      <mat-panel-description *ngIf="accord.description">
        {{accord.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngFor="let field of accord.fields | showField:sData.parser">
      <ng-template [cdkPortalOutlet]="field.portal"></ng-template>
    </ng-container>

    <ng-container *ngFor="let nested of accord.nestedSegments">
      <ng-template [cdkPortalOutlet]="nested.component"></ng-template>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
