<section class="p-y-l">
  <div class="grid">
    <div class="col-4 col-m-6 col-s-9 col-xs-12">
      <mat-card>
        <!--Title-->
        <h6 class="ta-center p-y-s">Jaspero Fireshop</h6>

        <!--Social login-->
        <div class="m-y-xs">
          <button class="w-full" mat-raised-button (click)="loginGoogle()">
            Log in with Google
          </button>
        </div>
        <div class="m-y-xs">
          <button class="w-full" mat-raised-button (click)="loginFacebook()">
            Log in with Facebook
          </button>
        </div>
        <div class="m-y-xs">
          <button class="w-full" mat-raised-button (click)="loginTwitter()">
            Log in with Twitter
          </button>
        </div>
        <div class="m-y-xs">
          <button class="w-full" mat-raised-button (click)="logInWithInstagram()">
            Log in with Instagram
          </button>
        </div>

        <!--Divider-->
        <div class="p-t-s p-b-s">
          <mat-divider></mat-divider>
        </div>

        <!--Regular login-->
        <form [formGroup]="loginForm">
          <mat-form-field class="w-full mat-hint">
            <input
              matInput
              placeholder="Email"
              type="email"
              formControlName="emailLogin"
            />
          </mat-form-field>
          <mat-form-field class="w-full mat-hint">
            <input
              matInput
              placeholder="Password"
              #password
              type="password"
              formControlName="passwordLogin"
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            class="w-full"
            [disabled]="loginForm.invalid"
            [jpLoadClick]="loginEmail()">
            Login
          </button>
        </form>

        <!--Forgot password?-->
        <p class="ta-right fs-small c-d-secondary">
          <a routerLink="/reset-password" class="link">
            Forgot your password?
          </a>
        </p>
      </mat-card>
    </div>
  </div>
</section>
