<style>
    .jfs-mail {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        font-family: sans-serif;
        border-collapse: collapse;
    }
    .jfs-mail > thead > tr > th {
        padding: 20px;
        text-align: left;
        background: #3f51b5;
        color: white;
        font-weight: normal;
    }
    .jfs-mail > tbody > tr > td {
        padding: 20px 20px 0;
        vertical-align: top;
        line-height: 1.35;
    }
    hr {
        margin: 0;
        border: none;
        border-top: 2px solid #3f51b5;
    }
    .order-summary {
        background: #f2f2f2;
    }
    .right {
        text-align: right;
    }
</style>

<table class="jfs-mail">
    <thead>
    <tr>
        <th colspan="2">Jaspero Fireshop - order successful</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2">🎉 We've processed your order successfully 🎉</td>
    </tr>
    <tr>
        <td colspan="2">Here's the summary of your order:<br><br></td>
    </tr>
    <tr class="order-summary">
        <td>[item] (x1)</td>
        <td class="right">$120</td>
    </tr>
    <tr class="order-summary">
        <td>[item] (x1)</td>
        <td class="right">$120</td>
    </tr>
    <tr class="order-summary">
        <td colspan="2"><hr></td>
    </tr>
    <tr class="order-summary">
        <td>Total<br><br></td>
        <td class="right">$120</td>
    </tr>
    <tr>
        <td colspan="2">Lorem ipsum dolor sit amet <a href="">useful link</a>.</td>
    </tr>
    </tbody>
</table>