<style>
    .jfs-mail {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        font-family: sans-serif;
        border-collapse: collapse;
    }
    .jfs-mail > thead > tr > th {
        padding: 20px;
        text-align: left;
        background: #3f51b5;
        color: white;
        font-weight: normal;
    }
    .jfs-mail > tbody > tr > td {
        padding: 20px 20px 0;
        vertical-align: top;
        line-height: 1.35;
    }
</style>

<table class="jfs-mail">
    <thead>
    <tr>
        <th>Jaspero Fireshop - account deleted</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Account [john.doe@email.com] was deleted.</td>
    </tr>
    <tr>
        <td>We're sad to see you leave.</td>
    </tr>
    <tr>
        <td>Kind regards,<br>Jaspero Fireshop</td>
    </tr>
    </tbody>
</table>