<section class="grid p-y-l">
  <div class="col-4 col-m-6 col-s-9 col-xs-12">
    <mat-card>
      <h6 class="m-b-l p-t-m ta-center">{{staticConfig.displayName}}</h6>
      <!--Social login-->
      <section>
        <div class="m-b-s">
          <button class="w-full" mat-stroked-button (click)="loginGoogle()">
            {{'LOGIN.LOGIN_WITH' | transloco:{value: 'Google'} }}
          </button>
        </div>
      </section>

      <section>
        <div class="m-b-s">
          <button class="w-full" mat-stroked-button (click)="loginFacebook()">
            {{'LOGIN.LOGIN_WITH' | transloco:{value: 'Facebook'} }}
          </button>
        </div>
      </section>

      <!--Divider-->
      <div class="flex ai-center m-y-m disabled">
        <hr class="flex1">
        <p class="p-x-s">{{'GENERAL.OR' | transloco}}</p>
        <hr class="flex1">
      </div>

      <!--Regular login-->
      <form [formGroup]="loginForm">
        <mat-form-field class="w-full">
          <mat-label>{{'GENERAL.EMAIL' | transloco}}</mat-label>
          <input
            matInput
            type="email"
            formControlName="emailLogin"
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>{{'GENERAL.PASSWORD' | transloco}}</mat-label>
          <input
            matInput
            #password
            type="password"
            formControlName="passwordLogin"
          />
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          class="w-full"
          [disabled]="loginForm.invalid"
          [jpLoadClick]="loginEmail()">
          {{'LOGIN.LOGIN' | transloco}}
        </button>
        <a routerLink="/trigger-password-reset" class="block ta-right fg-secondary fs-small">{{'LOGIN.FORGOT_PASSWORD' | transloco}}</a>
      </form>

    </mat-card>
  </div>
</section>

<ng-template #mfaVerification>
  <h4 mat-dialog-title>{{'LOGIN.MFA_VERIFICATION' | transloco}}</h4>

  <mat-dialog-content [ngSwitch]="verificationState">

    <form *ngSwitchCase="'select'" [formGroup]="deviceForm">
      <mat-form-field class="w-full">
        <mat-label>{{'LOGIN.MFA_SELECT_DEVICE' | transloco}}</mat-label>
        <mat-select formControlName="device">
          <mat-option *ngFor="let hint of resolver.hints" [value]="hint.uid">
            {{hint.phoneNumber}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit" mat-stroked-button color="primary" id="mfa-submit">
        {{'GENERAL.SELECT' | transloco}}
      </button>
    </form>

    <form *ngSwitchCase="'submit'" [formGroup]="codeForm">
      <mat-form-field class="w-full">
        <mat-label>{{'MFA.VERIFICATION_CODE' | transloco}}</mat-label>
        <input matInput formControlName="code" inputmode="numeric">
      </mat-form-field>

      <button mat-stroked-button color="primary" type="submit" [jpLoadClick]="verifyMfa()">
        {{'MFA.AUTHENTICATE' | transloco}}
      </button>
    </form>
  </mat-dialog-content>
</ng-template>
