<ng-template #columnLayout let-column="column" let-row="row" let-index="index">
  <ng-container *ngIf="row[index]">
    <ng-template [cdkPortalOutlet]="row[index].value"></ng-template>

    <ng-container *ngFor="let nested of (column.nestedColumns || []); index as nestedIndex;">
      <ng-container *ngTemplateOutlet="columnLayout; context: {column: nested, row: row[index].nested, index: nestedIndex}"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #simpleColumn let-value="value">
  <div class="column-inner" [innerHTML]="value"></div>
</ng-template>

<ng-container *ngIf="data$ | async as data">
  <mat-toolbar role="heading" color="primary" class="sticky-header">
    <span>{{data.name}}</span>
    <div class="flex-1"></div>
    <a mat-flat-button routerLink="../single/new">Add {{data.name}}</a>
  </mat-toolbar>

  <section class="grid">
    <div class="col-12">
      <mat-card>
        <mat-card-content class="mat-card-content-inset">
          <mat-toolbar class="b-b">
<!--            <ng-container *ngIf="!data.hideCheckbox">-->
              <ng-container *ngIf="allChecked$ | async as ac">
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && ac.checked"
                  [indeterminate]="selection.hasValue() && !ac.checked"
                  color="primary"
                  matTooltip="Select">
                </mat-checkbox>&nbsp;&nbsp;&nbsp;
              </ng-container>
<!--            </ng-container>-->

            <button
              mat-icon-button
              matTooltip="Remove {{selection.selected.length}} items"
              *ngIf="selection.hasValue()"
              (click)="deleteSelection(data)">
              <mat-icon>delete_forever</mat-icon>
            </button>

            <div class="flex-1"></div>

            <span class="hide-xs">
              <button mat-button (click)="export(data.id)">
                <mat-icon>vertical_align_top</mat-icon>
                <span>Export</span>
              </button>
            </span>
            <span class="show-xs">
              <button mat-icon-button (click)="export(data.id)" matTooltip="Export">
                <mat-icon>vertical_align_top</mat-icon>
              </button>
            </span>

            <jms-import [collection]="data.id" [schema]="data.schema"></jms-import>

            <button
              *ngIf="data.filterModule"
              mat-button
              (click)="openFilterDialog(data.id, data.name, data.filterModule)">
              <mat-icon>vertical_split</mat-icon>
              <span>Filter</span>
            </button>

            <button
              *ngIf="data.sortModule"
              mat-button
              (click)="openSortDialog(data.id, data.name, data.sortModule)">
              <mat-icon>vertical_split</mat-icon>
              <span>Sort</span>
            </button>

            <div *ngIf="data.searchModule" class="m-l-s">
              <jms-search-input [formControl]="searchControl"></jms-search-input>
            </div>
          </mat-toolbar>

          <div class="of-x-auto">
            <table
              class="jms-instance-overview-table"
              mat-table
              matSort
              matSortDisableClear
              [trackBy]="trackById"
              [dataSource]="items$ | async"
              [matSortActive]="data.sort?.active"
              [matSortDirection]="data.sort?.direction">
              <ng-container matColumnDef="check" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" data-label="Select">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row.id) : null"
                    [checked]="selection.isSelected(row.id)"
                    color="primary">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container *ngFor="let column of data.tableColumns; index as index" [matColumnDef]="data.displayColumns[index + 1]">

                <ng-container *ngIf="column.sortable; else notSortable">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{column.label}}
                  </th>
                </ng-container>

                <ng-template #notSortable>
                  <th mat-header-cell *matHeaderCellDef>
                    {{column.label}}
                  </th>
                </ng-template>

                <td mat-cell *matCellDef="let row;" [attr.data-label]="column.label">
                  <ng-container *ngTemplateOutlet="columnLayout; context: {row: row.parsed, column: column, index: index}"></ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" data-label="Actions">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions" matTooltip="Actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['..', 'single', element.id]">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item fDisable (click)="deleteOne(data, element)">
                      <mat-icon>delete_forever</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="data.displayColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: data.displayColumns"></tr>
            </table>
          </div>

          <mat-toolbar class="jc-center" *ngIf="emptyState$ | async; else hasContent;">
            <p>No {{data.name}} yet.</p>
            <button mat-button color="primary" [routerLink]="['../single/new']">Add {{data.name}}</button>
          </mat-toolbar>

          <ng-template #hasContent>
            <mat-toolbar class="jc-between">
              <button
                mat-button
                color="primary"
                [disabled]="(hasMore$ | async) === false"
                [class.loading]="loading$ | async"
                (click)="loadMore$.next(true)">
                More…
              </button>
              <mat-form-field appearance="outline" class="mat-form-field-no-hint">
                <mat-label>Page size</mat-label>
                <mat-select [formControl]="pageSize">
                  <mat-option *ngFor="let size of pageSizes" [value]="size">
                    {{size}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-toolbar>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</ng-container>
