<ng-container *ngIf="form$ | async as form">
  <mat-toolbar role="heading" color="primary" class="sticky-header">
    <span>Settings</span>
    <div class="flex-1"></div>
    <button [jpLoadClick]="save(form)" mat-flat-button>Save</button>
  </mat-toolbar>

  <section class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <mat-card [formGroup]="form">
        <mat-card-header>
          <h1>Roles</h1>
          <div class="flex-1"></div>
          <button mat-button (click)="add(form)">Add new user</button>
        </mat-card-header>

        <mat-card-content formArrayName="roles">
          <div
            class="grid"
            *ngFor="let user of rolesForm(form).controls; index as index; last as last; first as first"
            [class.b-b]="!last"
            [class.p-t-s]="!first"
            [class.p-b-s]="!last"
            [formGroupName]="index">
            <mat-form-field appearance="outline" class="col-8 col-xs-12 mat-form-field-no-hint">
              <mat-label>Email</mat-label>
              <input type="email" formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4 col-xs-12 mat-form-field-no-hint">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let option of role | keyvalue" [value]="option.value">{{option.key}}</mat-option>
              </mat-select>
              <button mat-icon-button matSuffix matTooltip="Remove user" (click)="rolesForm(form).removeAt(index)">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</ng-container>
