<form class="grid" *ngIf="form" [formGroup]="form">
  <div class="col-6 col-m-8 col-s-10 col-xs-12">

    <h6>Personal information</h6>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput type="tel" />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option [value]="'Male'">Male</mat-option>
        <mat-option [value]="'Female'">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Tell us about yourself</mat-label>
      <textarea matInput formControlName="bio"></textarea>
    </mat-form-field>
    <h6>Address</h6>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Zip or postal code</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="submitForm()">Submit</button>
    <h6>Account</h6>
    <button mat-button color="warn" (click)="deleteUser()">Remove account</button>

  </div>
</form>
