<h1>Jaspero Fireshop - order successful</h1>
<p>🎉 We've processed your order successfully 🎉</p>
<p>Here's the summary of your order:</p>
<div class="table-container">
    <table>
        <tr>
            <td>[item] (x1)</td>
            <td style="text-align: right">$120</td>
        </tr>
        <tr>
            <td>[item] (x1)</td>
            <td style="text-align: right">$120</td>
        </tr>
        <tr>
            <td colspan="2"><hr></td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td style="text-align: right"><b>$120</b></td>
        </tr>
    </table>
</div>
<p>Lorem ipsum dolor sit amet <a href="">useful link</a>.</p>
