.jms-draggable-list {
  border: solid 1px var(--panel-tertiary);
  border-radius: 4px;
  overflow: hidden;

  &-item {
    cursor: move;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-bottom: solid 1px var(--panel-tertiary);
    background: var(--panel-theme);

    &:last-child {
      border: none;
    }
  }
}

.cdk-drag-preview {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.jms-draggable-list.cdk-drop-list-dragging .jms-draggable-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
