<form *ngIf="form$ | async as form" [formGroup]="form" [ngSwitch]="currentState">
  <mat-toolbar role="heading" color="primary" class="sticky-header">
    <span class="of-x-auto of-y-hidden" *ngSwitchCase="viewState.Edit">{{form.get('name').value}}</span>
    <span class="of-x-auto of-y-hidden" *ngSwitchCase="viewState.New">New Module</span>
    <span class="of-x-auto of-y-hidden" *ngSwitchCase="viewState.Copy">Copy of {{form.get('name').value}}</span>
    <div class="flex-1"></div>
    <a mat-button (click)="back()">Cancel</a>&nbsp;
    <button
      mat-flat-button
      fDisable
      [disabled]="form.invalid"
      [jpLoadClick]="save(form)">
      Save
    </button>
  </mat-toolbar>

  <section class="grid" *ngSwitchCase="viewState.Edit">
    <div class="col-12">
      <mat-card>
        <div class="flex ai-center">
          <button mat-button (click)="duplicate(form)">
            <mat-icon>filter_none</mat-icon>
            <span>&nbsp;Duplicate</span>
          </button>
          <div class="flex-1"></div>
          <button mat-icon-button aria-label="Previous category" matTooltip="Previous category" (click)="move(false, form)">
            <mat-icon>arrow_back</mat-icon>
          </button>&nbsp;
          <button mat-icon-button aria-label="Next category" matTooltip="Next category" (click)="move(true, form)">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </section>

  <section class="grid fw-rev">
    <div class="col-8 col-s-12">
      <mat-card>
        <mat-card-header>
          <div class="flex ai-center h-full w-full jc-between">
            <h1>Setup</h1>
            <button mat-icon-button matTooltip="Add Snippet" (click)="openSnippetSelection(form)"><mat-icon>add</mat-icon></button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Schema">
              <jms-json-editor formControlName="schema" [options]="schemaOptions"></jms-json-editor>
            </mat-tab>
            <mat-tab label="Layout">
              <jms-json-editor formControlName="layout" [options]="layoutOptions"></jms-json-editor>
            </mat-tab>
            <mat-tab label="Definitions">
              <jms-json-editor formControlName="definitions" [options]="definitionsOptions"></jms-json-editor>
            </mat-tab>
            <mat-tab label="Metadata">
              <jms-json-editor formControlName="metadata"></jms-json-editor>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4 col-s-12">
      <mat-card>
        <mat-card-header>
          <h1>Info</h1>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field class="w-full" [class.mat-form-field-has-hint]="currentState !== viewState.Edit" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
            <mat-hint *ngIf="currentState !== viewState.Edit">Autogenerated if left empty.</mat-hint>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="m-t-m">
        <mat-card-header>
          <h1>Authorization</h1>
        </mat-card-header>

        <mat-card-content formGroupName="authorization">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Write</mat-label>
            <mat-select [multiple]="true" formControlName="write">
              <mat-option *ngFor="let role of role | keyvalue" [value]="role.value">
                {{role.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Read</mat-label>
            <mat-select [multiple]="true" formControlName="read">
              <mat-option *ngFor="let role of role | keyvalue" [value]="role.value">
                {{role.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</form>

<ng-template #modal>
  <h4 mat-dialog-title>Select snippet template</h4>

  <form>
    <mat-dialog-content>
      <div [formGroup]="snippetForm">
        <mat-form-field class="w-full">
          <mat-select placeholder="Snippet" formControlName="snippet">
            <mat-option *ngFor="let item of snippetExamples$ | async" [value]="item.name">{{item.name | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
          <input matInput placeholder="Field name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="w-full">
          <input matInput placeholder="Label" formControlName="label">
        </mat-form-field>

        <label class="mat-form-field-wrapper flex jc-between">
          <span>Required</span>
          <mat-slide-toggle formControlName="required"></mat-slide-toggle>
        </label>
      </div>

       <jms-compiled-form *ngIf="data$ | async as data" [data]="data" #cForm></jms-compiled-form>
    </mat-dialog-content>

    <mat-dialog-actions>
      <div class="flex w-full jc-end">
        <button type="submit" mat-button color="primary" [disabled]="snippetForm.invalid" [mat-dialog-close]="cForm ? cForm.form : {}">Submit</button>
      </div>
    </mat-dialog-actions>
  </form>

</ng-template>
