<mat-card class="cs-pointer jfs-product-card" [routerLink]="['/product', product.id]">
  <mat-card-header>
    <img
      mat-card-avatar
      src="assets/images/loading.svg"
      size="s"
      [jfsLibraryImage]="product.gallery[0]"
      [webp]="false"
    />
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.shortDescription}}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="assets/images/loading.svg"
    size="m"
    [jfsLibraryImage]="product.gallery[0]"
    [webp]="false"
    [attr.alt]="product.name"
  />
  <mat-card-content>
    <p>{{price | sp}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex fd-row-rev">
      <button
        [disabled]="(canAddToCart$ | async) === false"
        [id]="'btn-add-c-' + uniqueId"
        mat-button
        (jpStopPropagation)="cart.add(product, filters)">
        Add to cart <span *ngIf="cartQuantity$ | async as quantity">({{quantity}})</span>
      </button>
      <ng-container *ngIf="wishList$ | async as ws">
        <button
          [id]="'btn-wish-list-' + uniqueId"
          mat-icon-button
          color="primary"
          [matTooltip]="ws.label"
          [attr.aria-label]="ws.label"
          (jpStopPropagation)="wishList.toggle(product)">
          <mat-icon>{{ws.icon}}</mat-icon>
        </button>
      </ng-container>
    </div>
  </mat-card-actions>
</mat-card>
