<h1 mat-dialog-title>Sort {{data.collectionName}}</h1>

<mat-dialog-content *ngIf="items$ | async as items">
  <mat-list role="list" cdkDropList (cdkDropListDropped)="drop(items, $event)">
    <mat-list-item
      *ngFor="let item of items; index as index; first as first; last as last;"
      role="listitem"
      cdkDrag
      class="jc-between">
      <div>
        <h1>{{item[data.options.sortTitle]}}</h1>
        <h2 *ngIf="data.options.sortSubTitle">{{item[data.options.sortSubTitle]}}</h2>
      </div>
      <div>
        <button mat-icon-button [disabled]="first" (click)="move(true, items, index)">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button mat-icon-button [disabled]="last" (click)="move(false, items, index)">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-icon-button cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
