.jms-sort-dialog-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.jms-sort-dialog-element {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .mat-icon-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
