<form *ngIf="form" [formGroup]="form">

  <section>
    <mat-toolbar color="primary">
      <span>Settings</span>
      <div class="f1"></div>
      <div>
        <button type="button" mat-flat-button color="primary" [routerLink]="['/dashboard']">
          Discard changes
        </button>
        &nbsp;
        <button
          mat-flat-button
          type="submit"
          [disabled]="form.invalid"
          [jpLoadClick]="save()">
          Save
        </button>
      </div>
    </mat-toolbar>
  </section>

  <section class="p-y-m">
    <div class="grid grid-no-gutter">
      <div class="col-8 col-s-10 col-xs-12">
        <div class="grid">

          <div class="col-12">
            <mat-card formGroupName="general-settings">
              <h6 class="p-y-xs">General</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Automatically reduce item quantity</span>
                <mat-slide-toggle formControlName="autoReduceQuantity"></mat-slide-toggle>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Inactive when out of stock</span>
                <mat-slide-toggle formControlName="inactiveForQuantity"></mat-slide-toggle>
              </div>

              <div class="p-y-xs flex jc-between">
                <mat-form-field appearance="outline" class="w-full p-y-xs">
                  <mat-label>Order Description</mat-label>
                  <input type="email" formControlName="description" matInput>
                  <mat-hint>This description will show up on the stripe dashboard</mat-hint>
                </mat-form-field>
              </div>
              <div class="p-y-xs flex jc-between">
                <mat-form-field appearance="outline" class="w-full p-y-xs">
                  <mat-label>Statement Description</mat-label>
                  <input type="email" formControlName="statementDescription" matInput>
                  <mat-hint>This description will show up on users receipt</mat-hint>
                </mat-form-field>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Show quantity on products?</span>
                <mat-slide-toggle formControlName="showingQuantity"></mat-slide-toggle>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Allow out of quantity purchase?</span>
                <mat-slide-toggle formControlName="allowOutOfQuantityPurchase"></mat-slide-toggle>
              </div>
            </mat-card>
          </div>

          <div class="col-12">
            <mat-card formGroupName="general-settings">
              <h6 class="p-y-xs">Notifications</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Notify customers when an order is <b>shipped</b></span>
                <mat-slide-toggle formControlName="notifyOnShipped"></mat-slide-toggle>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Notify customers when an order is <b>delivered</b></span>
                <mat-slide-toggle formControlName="notifyOnDelivered"></mat-slide-toggle>
              </div>
              <div class="p-y-xs flex jc-between">
                <mat-form-field appearance="outline" class="w-full p-y-xs">
                  <mat-label>Error Notification Email</mat-label>
                  <input type="email" formControlName="errorNotificationEmail" matInput>
                </mat-form-field>
              </div>
            </mat-card>
          </div>

          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Roles</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>

              <div class="p-y-xs flex" *ngFor="let control of roles.controls; index as index" [formGroup]="control">

                <mat-form-field appearance="outline" class="w-full m-r-xs">
                  <mat-label>Email</mat-label>
                  <input type="email" formControlName="email" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full m-r-xs">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role">
                    <mat-option *ngFor="let option of role | keyvalue" [value]="option.value">{{option.key}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button mat-icon-button type="button" color="warn" (click)="roles.removeAt(index)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="flex jc-end">
                <button mat-raised-button type="button" color="primary" (click)="roles.push(createRole())">Add role</button>
              </div>

            </mat-card>
          </div>

          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Email Templates</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>

              <mat-accordion>
                <mat-expansion-panel *ngFor="let template of emailTemplates">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="flex ai-center">
                      <span>{{template.title}}</span>
                    </mat-panel-title>

                    <mat-panel-description class="flex jc-end">

                      <mat-chip-list>
                        <mat-chip *ngFor="let tag of template.tags" [selected]="true" [color]="emailTagColors[tag]">
                          {{tag}}
                        </mat-chip>
                      </mat-chip-list>

                      <button type="button" mat-icon-button matTooltip="Edit Template" [jpLoadClick]="editTemplate(template)">
                        <mat-icon>edit</mat-icon>
                      </button>

                      <ng-container *ngIf="template.tags[0] !== emailTag.Layout">
                        <button type="button" mat-icon-button matTooltip="Edit Example Data" [jpLoadClick]="editTemplateData(template)">
                          <mat-icon>explicit</mat-icon>
                        </button>
                        <button type="button" mat-icon-button matTooltip="Send Example Email" [jpLoadClick]="sendExampleEmail(template)">
                          <mat-icon>email</mat-icon>
                        </button>
                      </ng-container>

                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <p>{{template.description}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-4 col-s-10 col-xs-12">
        <div class="grid">
          <div class="col-12">
            <mat-card formGroupName="currency">
              <h6 class="p-y-xs">Currency</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-t-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Primary currency</mat-label>
                  <mat-select formControlName="primary">
                    <mat-option [value]="cur.value" *ngFor="let cur of currencies">
                      {{cur.value}} ({{cur.symbol}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Supported Currencies</mat-label>
                  <mat-select formControlName="supportedCurrencies">
                    <mat-option [value]="cur.value" *ngFor="let cur of currencies">
                      {{cur.value}} ({{cur.symbol}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-card>
          </div>

          <div class="col-12">
            <mat-card formGroupName="currency">
              <div class="p-b-xxs ai-center flex jc-between">
                <h6>Shipping</h6>
                <button mat-flat-button color="primary" [jpLoadClick]="manageShipping()">Manage Shipping</button>
              </div>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-b-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Default Shipping cost</mat-label>
                  <input type="number" matInput formControlName="shippingCost">
                  <span matPrefix>{{currencySymbol}}&nbsp;</span>
                  <mat-hint>This value will be used for countries without a defined shipping cost.</mat-hint>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<ng-template #emailTemplate>

  <div mat-dialog-title>
    <div class="flex jc-between ai-center w-full">
      <h4>{{selectedTemplate.title}}</h4>
      <div class="flex ai-center">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of selectedTemplate.tags" [selected]="true" [color]="emailTagColors[tag]">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
        <button
            *ngIf="selectedTemplate.tags[0] !== emailTag.Layout"
            type="button"
            mat-icon-button
            matTooltip="Send Example Email"
            [jpLoadClick]="sendExampleEmail(selectedTemplate, selectedTemplateController)">
          <mat-icon>email</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <form>
    <mat-dialog-content>
      <p class="m-b-s">{{selectedTemplate.description}}</p>

      <div class="p-y-xs">
        <jfsc-wysiwyg [options]="emailEditorOptions" [formControl]="selectedTemplateController"></jfsc-wysiwyg>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button type="submit" mat-raised-button color="primary" [jpLoadClick]="saveTemplate()">Save</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #emailTemplateData>
  <div mat-dialog-title>
    <div class="flex jc-between ai-center w-full">
      <h4>{{selectedTemplate.title}}</h4>
      <div class="flex ai-center">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of selectedTemplate.tags" [selected]="true" [color]="emailTagColors[tag]">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
        <button
            *ngIf="selectedTemplate.tags[0] !== emailTag.Layout"
            type="button"
            mat-icon-button
            matTooltip="Send Example Email"
            [jpLoadClick]="sendExampleEmail(selectedTemplate, selectedTemplateController)">
          <mat-icon>email</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <form>
    <mat-dialog-content>
      <p class="m-b-s">{{selectedTemplate.description}}</p>

      <div class="p-y-xs">
        <jfsc-json-editor [formControl]="selectedTemplateController"></jfsc-json-editor>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button type="submit" mat-raised-button color="primary" [jpLoadClick]="saveTemplateData()">Save</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #shippingDialog>
  <h4 mat-dialog-title>Shipping Management</h4>

  <form>
    <mat-dialog-content>
      <table class="w-full">
        <tr class="ta-left">
          <th>Country</th>
          <th width="100">Code</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let country of countries; index as index;">
          <td>{{country.name}}</td>
          <td>{{country.code}}</td>
          <td>
            <mat-form-field appearance="outline">
              <input type="number" placeholder="Value" matInput [formControl]="shippingControl.at(index)">
              <mat-icon class="cs-pointer" matSuffix matTooltip="Clear" (click)="shippingControl.at(index).setValue(null)">clear</mat-icon>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button type="submit" mat-raised-button color="primary" [matDialogClose]="shippingControl.getRawValue()">Save</button>
    </mat-dialog-actions>
  </form>
</ng-template>
