<form *ngIf="form" [formGroup]="form">

  <section>
    <mat-toolbar color="primary">
      <span>Settings</span>
      <div class="f1"></div>
      <div>
        <button mat-flat-button color="primary" [routerLink]="['/dashboard']">
          Discard changes
        </button>
        &nbsp;
        <button
          mat-flat-button
          type="submit"
          [disabled]="form.invalid"
          [class.loading]="loading$ | async"
          (click)="save()">
          Save
        </button>
      </div>
    </mat-toolbar>
  </section>

  <section class="p-y-m">
    <div class="grid grid-no-gutter">
      <div class="col-8 col-s-10 col-xs-12">
        <div class="grid">
          <div class="col-12">
            <mat-card formGroupName="general-settings">
              <h6 class="p-y-xs">General</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <!--TODO: Add info bubbles-->
              <div class="p-y-xs flex jc-between">
                <span>Real Time Data</span>
                <mat-slide-toggle formControlName="realTimeData"></mat-slide-toggle>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Automatically reduce item quantity</span>
                <mat-slide-toggle formControlName="autoReduceQuantity"></mat-slide-toggle>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Inactive when out of stock</span>
                <mat-slide-toggle formControlName="inactiveForQuantity"></mat-slide-toggle>
              </div>
              <div class="p-y-xs flex jc-between">
                <span>Send me email notifications on status updates</span>
                <mat-slide-toggle formControlName="statusUpdates"></mat-slide-toggle>
              </div>

              <mat-form-field appearance="outline" class="w-full p-y-xs">
                <mat-label>Error Notification Email</mat-label>
                <input type="email" formControlName="errorNotificationEmail" matInput>
              </mat-form-field>
            </mat-card>
          </div>
          <div class="col-12">
            <mat-card>
              <h6 class="p-y-xs">Admin</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Admins</mat-label>
                  <mat-chip-list #chipList>
                    <mat-chip
                      *ngFor="let admin of adminEmails.value; index as index"
                      [removable]="true"
                      (removed)="removeAdmin(index)">
                      {{admin}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      [formControl]="emailControl"
                      [matChipInputFor]="chipList"
                      (matChipInputTokenEnd)="emailControl.valid  ? addAdmin($event) : ''">
                    <mat-error *ngIf="emailControl.invalid && emailControl.value">Please enter valid email</mat-error>
                    <mat-error *ngIf="alreadyAdmin">This email is already an admin</mat-error>
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-4 col-s-10 col-xs-12">
        <div class="grid">
          <div class="col-12">
            <mat-card formGroupName="currency">
              <h6 class="p-y-xs">Currency</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Primary currency</mat-label>
                  <mat-select formControlName="primary">
                    <mat-option [value]="cur.value" *ngFor="let cur of currencies">
                      {{cur.value}} ({{cur.symbol}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
