<!--TODO: Format this when fixed. For some reason if the type is passed through a variable angular doesn't properly parse-->
<ng-container [ngSwitch]="cData.type">
  <mat-form-field *ngSwitchCase="'number'" class="w-full" appearance="outline" [class.mat-form-field-has-hint]="cData.hint">
    <mat-label>{{cData.label}}</mat-label>
    <span *ngIf="cData.prefix" matPrefix [innerHTML]="prefix | jpSanitize"></span>
    <input
      matInput
      type="number"
      [attr.autocomplete]="cData.autocomplete"
      [placeholder]="cData.placeholder"
      [formControl]="cData.control">
    <span *ngIf="cData.suffix" matSuffix [innerHTML]="suffix | jpSanitize"></span>
    <mat-hint *ngIf="cData.hint" [innerHTML]="cData.hint | jpSanitize"></mat-hint>
  </mat-form-field>

  <mat-form-field *ngSwitchDefault class="w-full" appearance="outline" [class.mat-form-field-has-hint]="cData.hint">
    <mat-label>{{cData.label}}</mat-label>
    <span *ngIf="cData.prefix" matPrefix [innerHTML]="prefix | jpSanitize"></span>
    <input
        matInput
        [attr.autocomplete]="cData.autocomplete"
        [attr.type]="cData.type"
        [placeholder]="cData.placeholder"
        [formControl]="cData.control">
    <span *ngIf="cData.suffix" matSuffix [innerHTML]="suffix | jpSanitize"></span>
    <mat-hint *ngIf="cData.hint" [innerHTML]="cData.hint | jpSanitize"></mat-hint>
  </mat-form-field>
</ng-container>
