<ng-template #address let-form="form">
  <ng-container [formGroup]="form">
    <div class="col-6 col-xs-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="col-6 col-xs-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="col-6 col-xs-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="col-6 col-xs-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
    </div>
    <div class="col-6 col-xs-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
    </div>
    <div class="col-6 col-xs-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="zip">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" autocomplete="country">
          <mat-option *ngFor="let country of countries$ | async" [value]="country.code">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Address Line One</mat-label>
        <input matInput formControlName="line1">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Address Line Two</mat-label>
        <input matInput formControlName="line2">
      </mat-form-field>
    </div>
  </ng-container>
</ng-template>

<h5 class="ta-center bg-primary c-l-primary p-y-s">
  <a routerLink="/shop" class="flex ai-center jc-center">
    <mat-icon>arrow_back</mat-icon>
    <span>&nbsp;Jaspero Fireshop</span>
  </a>
</h5>

<div class="grid grid-no-gutter">
  <div class="col-12">
    <mat-horizontal-stepper linear class="bg-l-primary" #stepper>

      <mat-step label="Information" [stepControl]="form$ | async" #information>
        <div class="grid fw-rev" *ngIf="stepper.selected == null || stepper.selected == information">
          <div class="col-8 col-s-12">
            <mat-card *ngIf="form$ | async as form">
              <form class="grid grid-no-gutter jc-start" [formGroup]="form">

                <div class="col-12" *ngIf="!(loggedIn$ | async)">
                  <p class="bg-l-secondary p-y-s ta-center">
                    You're doing checkout as a guest. You can <a class="link c-primary" (click)="logInSignUp()">login</a> or <a class="link c-primary" (click)="logInSignUp(false)">sign-up</a> now.<br>Your data or cart won't be lost.
                  </p>
                </div>

                <div class="col-12">
                  <div class="p-y-xs">
                    <mat-divider></mat-divider>
                  </div>
                </div>

                <div class="col-12">
                  <h6 class="p-y-xs">Billing info</h6>
                </div>

                <ng-container *ngTemplateOutlet="address; context: {form: form.get('billing')}"></ng-container>

                <div class="col-12">
                  <div class="p-y-xs">
                    <mat-divider></mat-divider>
                  </div>
                </div>

                <div class="col-12">
                  <h6 class="p-y-xs">Shipping info</h6>
                  <div class="p-y-xs">
                    <mat-checkbox color="primary" formControlName="shippingInfo">My shipping address is same as my billing address</mat-checkbox>
                  </div>
                </div>

                <ng-container *ngIf="form.get('shipping') as sp">
                  <ng-container *ngTemplateOutlet="address; context: {form: sp}"></ng-container>
                </ng-container>

                <div class="col-12">
                  <div class="p-y-xs">
                    <mat-divider></mat-divider>
                  </div>
                </div>

                <div class="col-12">
                  <div class="p-y-xs" *ngIf="loggedIn$ | async">
                    <mat-checkbox color="primary" formControlName="saveInfo">Save my payment so checkout is easy next time</mat-checkbox>
                  </div>
                </div>

                <div class="col-12 m-y-xs">
                  <p class="bg-l-secondary p-y-s ta-center">You will have a chance to review your order before it's placed</p>
                </div>

                <div class="col-12 m-y-xs">
                  <mat-form-field class="w-full" appearance="outline">
                    <input matInput placeholder="Discount code" formControlName="code">
                  </mat-form-field>
                </div>

                <div class="col-12 ta-right">
                  <button
                      id="btn-nxt-step-0"
                      mat-flat-button
                      color="primary"
                      matStepperNext
                      [disabled]="form.invalid">
                    Continue
                  </button>
                </div>

              </form>
            </mat-card>
          </div>
          <div class="col-4 col-s-12">
            <mat-card>
              <h6 class="m-b-xs">Cart</h6>
              <table class="w-full">
                <tr *ngFor="let product of cartService.items$ | async">
                  <td class="w-half p-a-xs">{{product.name}}:</td>
                  <td class="w-half p-a-xs">{{product.price | sp }} x{{product.quantity}}</td>
                </tr>
              </table>
            </mat-card>
          </div>
        </div>
      </mat-step>

      <mat-step label="Payment" #payment>
        <div class="grid fw-rev" *ngIf="stepper.selected == payment">
          <div class="col-8 col-s-12">
            <mat-card>
              <form *ngIf="elementConfig$ | async as elementConfigs">

                <div class="grid grid-no-gutter jc-start">
                  <jfs-stripe-elements
                      #stripeEl
                      [clientSecret$]="clientSecret$"
                      [elementConfig]="elementConfigs"
                      (paymentTriggered)="paymentTriggered($event)">
                  </jfs-stripe-elements>
                  <div class="payment-error" *ngIf="stripeEl.error$ | async as error">
                    {{error}}
                  </div>
                  <div class="col-12 ta-right">
                    <button id="btn-nxt-step-1" mat-flat-button color="primary" matStepperNext [disabled]="stripeEl.error$ | async">Continue</button>
                  </div>
                </div>

              </form>
            </mat-card>
          </div>
          <div class="col-4 col-s-12">
            <mat-card>
              <h6 class="m-b-xs">Payment methods</h6>
              <p>We accept the following secure payment methods:</p>
              <p class="m-y-xs">...</p>
              <p>When you submit your payment information your data is protected by Secure Socket Layer (SSL) technology certified by a digital certificate.</p>
            </mat-card>
          </div>
        </div>
      </mat-step>

      <mat-step label="Review & Purchase" #review>
        <div class="grid fw-rev" *ngIf="stepper.selected == review">
          <div class="col-8 col-s-12">
            <mat-card>
              <h6 class="m-y-xs">Your purchase</h6>
              <div class="bg-l-secondary p-a-s">
                <table class="w-full">
                  <tr *ngFor="let product of items$ | async">
                    <td class="w-half p-a-xs">{{product.name}}:</td>
                    <td class="w-half p-a-xs">{{product.price | sp }} x{{product.quantity}}</td>
                  </tr>

                  <ng-container *ngIf="price$ | async as price">
                    <tr>
                      <td class="w-half p-a-xs">Subtotal:</td>
                      <td class="w-half p-a-xs">{{price.subTotal | sp}}</td>
                    </tr>
                    <tr>
                      <td colspan="2"><hr></td>
                    </tr>
                    <tr>
                      <td class="w-half p-a-xs">Shipping:</td>
                      <td class="w-half p-a-xs">{{price.shipping ? (price.shipping | sp) : 'Free'}}</td>
                    </tr>
                    <tr>
                      <td colspan="2"><hr></td>
                    </tr>
                    <tr class="fw-bold">
                      <td class="w-half p-a-xs">Total:</td>
                      <td class="w-half p-a-xs">{{price.total | sp}}</td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              <div class="p-y-s">
                <mat-divider></mat-divider>
              </div>
              <table class="w-full" *ngIf="formData$ | async as fd">
                <tr>
                  <td class="w-half p-a-xs">Checkout:</td>
                  <td class="w-half p-a-xs">{{fd.billing.firstName}} {{fd.billing.lastName}}</td>
                </tr>
                <tr>
                  <td class="w-half p-a-xs">Billing email:</td>
                  <td class="w-half p-a-xs">{{fd.billing.email}}</td>
                </tr>
                <tr>
                  <td class="w-half p-a-xs">Shipping email:</td>
                  <td class="w-half p-a-xs">{{fd.shippingInfo ? fd.billing.email : fd.shipping.email}}</td>
                </tr>
              </table>
              <div class="p-y-s">
                <mat-divider></mat-divider>
              </div>
              <div class="m-t-xs m-b-s">
                <mat-checkbox color="primary" [formControl]="termsControl">I agree to the</mat-checkbox>
                &nbsp;
                <a class="c-primary" href="" target="_blank"><u>terms of service</u>.</a>
              </div>
              <div class="ta-right p-y-xs">
                <button
                  mat-flat-button
                  color="primary"
                  id="btn-purchase"
                  [disabled]="!termsControl.value"
                  [jpLoadClick]="checkOut()">
                  Purchase
                </button>
              </div>
            </mat-card>
            <p class="p-y-xs">Confirmation will be emailed to your address at {{(formData$ | async).billing.email}}</p>
          </div>
          <div class="col-4 col-s-12">
            <mat-card>
              <h6 class="m-b-xs">Secure purchase</h6>
              <p class="m-b-xs">When you submit your payment information your data is protected by Secure Socket Layer (SSL) technology certified by a digital certificate.</p>
              <p>Once you've completed this transaction, you'll receive an email message confirming receipt of your purchase.</p>
            </mat-card>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
