<h5 class="ta-center bg-primary c-l-primary p-y-s"><a routerlink="">Jaspero Fireshop</a></h5>
<div class="grid grid-no-gutter">
  <div class="col-12">
    <mat-horizontal-stepper class="bg-l-primary">
      <!--Payment content-->
      <mat-step label="Payment">
        <div class="grid fw-rev">
          <div class="col-8 col-s-12">
            <mat-card>
              <p class="bg-l-secondary p-a-s ta-center" *ngIf="0">
                You're doing checkout as a guest. You can <a class="link c-primary">login</a> or <a class="link c-primary">sign-up</a> now.<br>Your data or cart won't be lost.
              </p>
              <div class="grid grid-no-gutter jc-start">
                <div class="col-12">
                  <h6 class="m-y-xs">Payment info</h6>
                </div>
                <div class="col-8 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <mat-select placeholder="Select a payment method">
                      <mat-option>Option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Card number">
                  </mat-form-field>
                </div>
                <div class="col-3 col-xs-7">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Expiration date">
                  </mat-form-field>
                </div>
                <div class="col-3 col-xs-5">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Security code">
                    <mat-icon matSuffix>info</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <h6 class="m-b-xs m-t-s">Billing info</h6>
                </div>
                <div class="col-6 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="First name">
                  </mat-form-field>
                </div>
                <div class="col-6 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Last name">
                  </mat-form-field>
                </div>
                <div class="col-6 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Email">
                  </mat-form-field>
                </div>
                <div class="col-6 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Phone">
                  </mat-form-field>
                </div>
                <div class="col-4 col-xs-7">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="City">
                  </mat-form-field>
                </div>
                <div class="col-4 col-xs-5">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="ZIP code">
                  </mat-form-field>
                </div>
                <div class="col-4 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Country">
                  </mat-form-field>
                </div>
                <div class="col-8 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Billing address">
                  </mat-form-field>
                </div>
                <div class="col-8 col-xs-12">
                  <mat-form-field class="mat-hint w-full">
                    <input matInput type="text" placeholder="Billing address, line 2">
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <h6 class="m-b-xs m-t-s">Shipping info</h6>
                  <div class="m-y-xs">
                    <mat-checkbox color="primary">My shipping address is same as my billing address</mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="p-y-s">
                <mat-divider></mat-divider>
              </div>
              <div class="m-t-xs m-b-s">
                <mat-checkbox color="primary">Save my payment so checkout is easy next time</mat-checkbox>
              </div>
              <p class="bg-l-secondary p-a-s m-y-xs">You will have a chance to review your order before it's placed</p>
              <div class="ta-right p-y-xs">
                <button mat-flat-button color="primary" matStepperNext>Continue</button>
              </div>
            </mat-card>
          </div>
          <div class="col-4 col-s-12">
            <mat-card>
              <h6 class="m-b-xs">Payment methods</h6>
              <p>We accept the following secure payment methods:</p>
              <p class="m-y-xs">...</p>
              <p>When you submit your payment information your data is protected by Secure Socket Layer (SSL) technology certified by a digital certificate.</p>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <!--Review and purchase content-->
      <mat-step label="Review & Purchase">
        <div class="grid fw-rev">
          <div class="col-8 col-s-12">
            <mat-card>
              <h6 class="m-y-xs">Your purchase</h6>
              <div>
                <!--TODO(Kole): can you pull cart data here-->
                <p>[item.name] [item.price] etc.</p>
                <p>[item.name] [item.price] etc.</p>
                <p>Subtotal: $69 [local currency: 420kn]</p>
                <p>Total: $429 [local currency: 1420kn]</p>
              </div>
              <div class="p-y-s">
                <mat-divider></mat-divider>
              </div>
              <p>Checkout: out as guest</p>
              <p>Payment method: visa ending in 69</p>
              <p>email: pero@pero.com</p>
              <div class="p-y-s">
                <mat-divider></mat-divider>
              </div>
              <div class="m-t-xs m-b-s">
                <mat-checkbox color="primary">I agree to the terms of service</mat-checkbox>
              </div>
              <div class="ta-right p-y-xs">
                <button mat-flat-button color="primary">Purchase</button>
              </div>
            </mat-card>
            <p>Confirmation will be emailed to your address at gmail.com</p>
          </div>
          <div class="col-4 col-s-12">
            <mat-card>
              <h6 class="m-b-xs">Secure purchase</h6>
              <p class="m-b-xs">When you submit your payment information your data is protected by Secure Socket Layer (SSL) technology certified by a digital certificate.</p>
              <p>Once you've completed this transaction, you'll receive an email message confirming receipt of your purchase.</p>
            </mat-card>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
