@import "../../../scss/variables";

:host {
  overflow: auto;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

:host::ng-deep .mat-horizontal-stepper-header-container {
  max-width: 500px;
}

:host::ng-deep .mat-horizontal-content-container {
  padding: 0;
}

:host .grid > [class*='col'] {
  padding-right: 10px;
}

.StripeElement {
  box-sizing: border-box;
  margin: .25em 0;
  padding: 16px 8px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  transition: .2s;
}

.StripeElement:hover {
  border: 1px solid currentColor;
  box-shadow: inset 0 0 0 1px currentColor;
}

.StripeElement--focus.StripeElement--focus {
  border: 1px solid var(--primary);
  box-shadow: inset 0 0 0 1px var(--primary);
}

.StripeElement--invalid {
  border: 1px solid var(--warn);
  box-shadow: inset 0 0 0 1px var(--warn);
  color: var(--warn);
}
