<mat-card>
  <mat-card-header *ngIf="segment.title || segment.subTitle || segment.array">
    <div>
      <h1 *ngIf="segment.title">{{segment.title}}</h1>
      <h2 class="fs-small" *ngIf="segment.subTitle">{{segment.subTitle}}</h2>
    </div>
    <div class="flex-1"></div>
    <button *ngIf="segment.array" mat-icon-button (click)="addArrayItem()" matTooltip="Add">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <p class="mat-form-field-wrapper" *ngIf="segment.description">{{segment.description}}</p>

    <ng-container *ngIf="segment.array; else regular">
      <div *ngFor="let fields of arrayFields; index as index; last as last">
        <ng-container *ngFor="let field of fields | showField:sData.parser">
          <ng-template [cdkPortalOutlet]="field.portal"></ng-template>
        </ng-container>
        <div class="ta-right">
          <button mat-button color="warn" (click)="removeArrayItem(index)">Remove</button>
        </div>
        <hr *ngIf="!last" class="m-y-m">
      </div>
    </ng-container>

    <ng-template #regular>
      <ng-container *ngFor="let field of segment.fields | showField:sData.parser">
        <ng-template [cdkPortalOutlet]="field.portal"></ng-template>
      </ng-container>
    </ng-template>

    <ng-container *ngFor="let nested of (segment.nestedSegments || [])">
      <ng-template [cdkPortalOutlet]="nested.component"></ng-template>
    </ng-container>
  </mat-card-content>
</mat-card>
