<form [formGroup]="form">
  <h6 class="m-b-s">Rate this product</h6>

  <h2>{{this.data.productId}}</h2>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea formControlName="comment" matInput></textarea>
  </mat-form-field>
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Rating</mat-label>
    <input type="number" formControlName="rating" matInput>
    <span matSuffix>/5</span>
  </mat-form-field>

  <div class="flex jc-end">
    <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="submit()">
      Submit
    </button>
  </div>
</form>
