<form [formGroup]="form">
  <h6 class="m-b-s">{{data.id ? 'Edit this review': 'Rate this product'}}: {{this.data.productId}}</h6>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea formControlName="comment" matInput></textarea>
  </mat-form-field>
  <mat-form-field class="w-full" appearance="outline">
    <jfs-rating-scale formControlName="rating"></jfs-rating-scale>
    <mat-label>Rating</mat-label>
    <input type="number" formControlName="rating" matInput>
    <span matSuffix>/5</span>
  </mat-form-field>

  <div class="flex jc-end">
    <div class="m-r-s">
      <button mat-flat-button [mat-dialog-close]="false">
        Cancel
      </button>
    </div>
    <div>
      <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
</form>
