<jp-slider *ngIf="sliderNeeded; else sliderNotNeeded">
  <jp-slides>
    <jp-slide>
      <button class="jfs-lightbox-nav-prev" mat-icon-button (click)="previous()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button class="jfs-lightbox-nav-next" mat-icon-button (click)="next()">
        <mat-icon>arrow_right</mat-icon>
      </button>
      <button class="jfs-lightbox-close" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <img class="jfs-lightbox-image" [src]="imageData.images[sliderIndex]" alt="">
    </jp-slide>
  </jp-slides>
</jp-slider>

<ng-template #sliderNotNeeded>
  <img class="jfs-lightbox-image" [src]="imageData.images[0]" alt="">
</ng-template>
