<mat-card>
  <div class="flex ai-center jc-between fw-wrap">
    <h6>{{review.productId}}</h6>
    <div>
      <ng-container>
        <mat-icon *ngFor="let star of fiveStar">star</mat-icon>
      </ng-container>
    </div>
  </div>
  <div class="p-y-xs">
    <mat-divider></mat-divider>
  </div>
  <div class="p-y-xs">
    <p class="fs-small c-d-secondary">{{review.createdOn}}</p>
    <p class="">{{review.comment}}</p>
  </div>
  <div *ngIf="review.customerId === afAuth.auth.currentUser.uid">
    <button mat-button (click)="edit(review.id)">
      <mat-icon color="primary">edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-button (click)="delete(review.id)">
      <mat-icon color="warn">delete_forever</mat-icon>
      <span>Delete</span>
    </button>
  </div>
</mat-card>
