<mat-card>
  <div class="flex ai-center jc-between fw-wrap">
    <h6 class="m-b-s">{{review.productId}}</h6>
    <div>
      <jfs-rating-scale [value]="review.rating"></jfs-rating-scale>
    </div>
  </div>
  <blockquote>
    <p class="fs-small c-d-secondary">{{review.createdOn | date: 'dd/MM/y - HH:mm'}}</p>
    <p [class.c-d-secondary]="!review.comment">
      {{review.comment ? review.comment : 'No comment'}}
    </p>
  </blockquote>

  <div class="ta-right" *ngIf="review.customerId === afAuth.auth.currentUser.uid">
    <button [id]="'btn-del-rev-' + uniqueId" mat-button (click)="delete(review.id)" tabindex="-1">
      Delete
    </button>&nbsp;
    <button [id]="'btn-edit-rev-' + uniqueId" mat-flat-button color="primary" (click)="edit(review.id)">
      Edit
    </button>
  </div>
</mat-card>
