<mat-card>
  <div class="flex ai-center jc-between fw-wrap">
    <h6 class="m-b-s">{{review.productId}}</h6>
    <div>
      <ng-container>
        <mat-icon
          color="primary"
          [class.active]="review.rating >= index + 1"
          *ngFor="let star of fiveStar; index as index"
          >
          {{review.rating >= index + 1 ? 'star' : 'star_border'}}
        </mat-icon>
      </ng-container>
    </div>
  </div>
  <blockquote>
    <p class="fs-small c-d-secondary">{{review.createdOn}}</p>
    <p>{{review.comment}}</p>
  </blockquote>
  <div class="ta-right" *ngIf="review.customerId === afAuth.auth.currentUser.uid">
    <button mat-button (click)="delete(review.id)">Delete review</button>
    <button mat-button (click)="edit()">Edit review</button>
  </div>
</mat-card>
